:root {
  --header-height: 3.75rem;
  --header-backdrop-filter: blur(0.5rem);
  --header-background-color: var(--white-rgb);
  --header-box-shadow: 0rem 0.0625rem 0.0469rem 0rem
      rgba(var(--white-rgb), 0.15) inset,
    0rem -0.0625rem 0.0625rem 0rem rgba(var(--black-rgb), 0.15) inset;
  --header-padding-y: 0.5rem;
  --header-padding-x: 0;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  padding: var(--header-padding-y) var(--header-padding-x)
    calc(var(--header-padding-y) + 0.25rem);
  background-color: rgba(var(--header-background-color), 0.75);
  backdrop-filter: var(--header-backdrop-filter);
  box-shadow: var(--header-box-shadow);
  overflow: hidden;
  animation: show-in-bottom ease-in-out 0.6s forwards;
  transition: all 0.6s ease-in-out;
  &-transparent {
    --header-backdrop-filter: blur(0);
  }
  &-nobackground {
    --header-background-color: transparent;
  }
  &-noshadow {
    --header-box-shadow: none;
  }
  &-inner {
    display: block;
    width: 100%;
    margin: auto;
    & > .row {
      --bs-gutter-x: 0.5rem;
      --bs-gutter-y: 0.5rem;
      align-items: center;
    }
  }
  &-logo {
    position: relative;
    z-index: 1;
    display: flex;
    width: 2.15rem;
    height: 2.15rem;
    & > svg,
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
