.badge {
    #{$prefix}-border-radius: 1.5rem;
    #{$prefix}-badge-padding-x: 1.25rem;
    #{$prefix}-badge-padding-y: 1.5625rem;
    #{$prefix}-badge-font-size: 1rem;
    #{$prefix}-badge-font-weight: 500;
    #{$prefix}-badge-color: var(--white);
    #{$prefix}-badge-background-color: var(--black);
    #{$prefix}-badge-border-radius: var(#{$prefix}-border-radius);
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: var(#{$prefix}-badge-padding-y) var(#{$prefix}-badge-padding-x);
    font-size: var(#{$prefix}-badge-font-size);
    font-weight: var(#{$prefix}-badge-font-weight);
    line-height: 1;
    color: var(#{$prefix}-badge-color);
    text-align: center;
    vertical-align: baseline;
    background-color: var(#{$prefix}-badge-background-color);
    border-radius: var(#{$prefix}-badge-border-radius);
    &:empty {
        display: none;
    }
    & > a {
        text-decoration: none;
    }
    &-card {
        #{$prefix}-badge-padding-x: 2.875rem;
        #{$prefix}-badge-padding-y: 2.875rem;
        #{$prefix}-badge-font-size: 1.25rem;
        #{$prefix}-badge-font-weight: 600;
    }
    &-rings {
        --sphere-size: 8.75rem;
        overflow: hidden;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: var(--sphere-size);
            height: var(--sphere-size);
            border-radius: 100%;
            opacity: 0.4;
        }
        &::before {
            filter: blur(2.5rem);
            transform: translate(-50%, -50%);
        }
        &::after {
            border: 0.0625rem solid rgba(var(--grey-rgb), 0.2);
            transform: translate(-50%, -50%) scale(1.15);
        }
    }
    &-gradient {
        #{$prefix}-badge-color: var(--white);
        #{$prefix}-badge-background-color: var(--black);
        &::after {
            opacity: 0.4;
        }
        &::before {
            filter: blur(2.25rem);
            background-image: conic-gradient(
                from 180deg at 50% 50%,
                #ffa629 -58.98deg,
                #fccf19 0.15deg,
                #3eaf2e 62.84deg,
                #02a6e6 119.45deg,
                #9747ff 179.51deg,
                #f24822 240.2deg,
                #ffa629 301.02deg,
                #fccf19 360.15deg
            );
            opacity: 1;
        }
    }
    &-content {
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: var(--sphere-size);
            height: var(--sphere-size);
            border-radius: 100%;
            opacity: 0.4;
            border: 0.0625rem solid rgba(var(--grey-rgb), 0.1);
            transform: translate(-50%, -50%) scale(1.25);
        }
    }
}

@each $color, $value in $colors {
    .badge-#{$value} {
        #{$prefix}-badge-background-color: var(--#{$value});
        #{$prefix}-badge-color: var(--white);
    }

    .badge-colored {
        &:is(.badge-#{$value}) {
            #{$prefix}-badge-background-color: rgba(var(--#{$value}-rgb), 0.125);
            #{$prefix}-badge-color: var(--#{$value});
        }
    }
}

.btn .badge {
    position: relative;
    top: -0.0625rem;
}
