.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    &[disabled] + .btn,
    &:disabled + .btn {
        pointer-events: none;
        filter: none;
        opacity: 0.65;
    }
    & + .btn {
        #{$prefix}-btn-font-weight: 400;
        color: var(#{$prefix}-btn-color);
        background-color: var(#{$prefix}-btn-bg);
        border-color: var(#{$prefix}-btn-border-color);
    }
    & + .btn:hover {
        color: var(#{$prefix}-btn-hover-color);
        background-color: var(#{$prefix}-btn-hover-bg);
        border-color: var(#{$prefix}-btn-hover-border-color);
    }
    &:focus-visible {
        color: var(#{$prefix}-btn-hover-color);
        background-color: var(#{$prefix}-btn-hover-bg);
        border-color: var(#{$prefix}-btn-hover-border-color);
        outline: 0;
        box-shadow: var(#{$prefix}-btn-focus-box-shadow);
    }
    &:focus-visible + .btn {
        border-color: var(#{$prefix}-btn-hover-border-color);
        outline: 0;
        box-shadow: var(#{$prefix}-btn-focus-box-shadow);
    }

    &:checked + .btn,
    &:not(.btn-check) + .btn:active,
    &.btn:first-child:active,
    &.btn.active,
    &.btn.show {
        color: var(#{$prefix}-btn-active-color);
        background-color: var(#{$prefix}-btn-active-bg);
        border-color: var(#{$prefix}-btn-active-border-color);
    }
    &:checked + .btn:focus-visible,
    &:not(.btn-check) + .btn:active:focus-visible,
    &.btn:first-child:active:focus-visible,
    &.btn.active:focus-visible,
    &.btn.show:focus-visible {
        box-shadow: var(#{$prefix}-btn-focus-box-shadow);
    }
}
