:root {
  --btn-size: 40px;
  --btn-padding-y: 12px;
  --btn-padding-x: 24px;
  --btn-font-family: $font-family;
  --btn-font-size: $font-size;
  --btn-background-color: color-mix(
    in srgb,
    var(--default-body-color) 100%,
    var(--default-text-color) 10%
  );
  --btn-color: var(--default-text-color);
  --btn-border-color: color-mix(
    in srgb,
    var(--default-body-color) 100%,
    var(--default-text-color) 10%
  );

  @include break-up("lg") {
    --btn-padding-y: 16px;
    --btn-padding-x: 25px;
  }
}

.btn,
button {
  @include paragraph;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  color: var(--btn-color);
  line-height: 1;
  font-weight: 700;
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  text-transform: none;
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--btn-border-color);
  background-color: var(--btn-background-color);
  white-space: nowrap;
  transition: 0.25s ease-in-out;

  & * {
    pointer-events: none;
    user-select: none;
  }

  &:hover,
  &.hover {
    --btn-background-color: color-mix(
      in srgb,
      var(--default-body-color) 100%,
      var(--default-text-color) 5%
    );
    --btn-border-color: color-mix(
      in srgb,
      var(--default-body-color) 100%,
      var(--default-text-color) 5%
    );
    --btn-color: var(--default-text-color);
  }

  &:focus:active,
  &.focus,
  &.active {
    --btn-background-color: color-mix(
      in srgb,
      var(--default-body-color) 100%,
      var(--default-text-color) 20%
    );
    --btn-border-color: color-mix(
      in srgb,
      var(--default-body-color) 100%,
      var(--default-text-color) 20%
    );
    --btn-color: var(--default-text-color);
  }

  &.disabled,
  &:disabled {
    --btn-background-color: color-mix(
      in srgb,
      var(--default-body-color) 60%,
      var(--default-text-color) 20%
    );
    --btn-color: color-mix(
      in srgb,
      var(--default-text-color) 60%,
      var(--default-body-color) 20%
    );
    --btn-border-color: color-mix(
      in srgb,
      var(--default-body-color) 60%,
      var(--default-text-color) 20%
    );
    cursor: not-allowed;

    &:hover,
    &.hover,
    &:focus:active,
    &:focus,
    &.focus,
    &.active {
      --btn-background-color: color-mix(
        in srgb,
        var(--default-body-color) 60%,
        var(--default-text-color) 20%
      );
      --btn-color: color-mix(
        in srgb,
        var(--default-text-color) 60%,
        var(--default-body-color) 20%
      );
      --btn-border-color: color-mix(
        in srgb,
        var(--default-body-color) 60%,
        var(--default-text-color) 20%
      );
    }
  }

  &.hidden,
  &:hidden {
    display: none;
  }

  & > i,
  & > svg {
    vertical-align: text-bottom;
    transition:
      transform 0.25s ease-in-out,
      color 0.05s ease-in-out;
  }

  & > svg {
    max-height: 100%;
    object-fit: contain;
  }

  &.aspected {
    --btn-padding-x: 5px;
    --btn-padding-y: 5px;
    --btn-padding-x: var(--btn-padding-y);
    width: var(--btn-size);
    height: var(--btn-size);
  }

  &-icon {
    @include button-icon;
  }

  &-close {
    & > i,
    & > svg {
      transform: rotate(0deg);
    }

    &:hover {
      & > i,
      & > svg {
        transform: rotate(180deg);
      }
    }
  }

  &-burger {
    & i,
    & svg {
      display: flex;
    }
  }

  // use color pallet
  @each $color, $value in $colors {
    &-#{$value} {
      --btn-background-color: var(--#{$value});
      --btn-color: var(--white);
      --btn-border-color: var(--#{$value});

      &:hover,
      &.hover {
        --btn-background-color: color-mix(
          in srgb,
          var(--#{$value}) 100%,
          var(--default-body-color) 20%
        );
        --btn-border-color: color-mix(
          in srgb,
          var(--#{$value}) 100%,
          var(--default-body-color) 20%
        );
        --btn-color: var(--white);
      }

      &:focus:active,
      &.focus,
      &.active {
        --btn-background-color: color-mix(
          in srgb,
          var(--#{$value}) 100%,
          var(--default-text-color) 20%
        );
        --btn-border-color: color-mix(
          in srgb,
          var(--#{$value}) 100%,
          var(--default-text-color) 20%
        );
        --btn-color: var(--white);
      }
    }
  }
}
