// todo: include card-border

:root {
  --card-text-color: var(--body-text-color);
  --card-body-padding-x: 1rem;
  --card-body-padding-y: 1rem;
  --card-body-font-size: 1rem;
  --card-body-font-weight: 400;
  --card-body-line-height: 150%;
  --card-body-letter-spacing: unset;
  --card-border-radius: 1rem;
  --card-border-width: 0.0625rem;
  --card-border-style: solid;
  --card-border-color: var(--black-rgb);
  --card-border-color-opacity: 0.125;
  --card-background-image: initial;
  --card-background-color: var(--white);
  --card-box-shadow: unset;
  --card-backdrop-filter: unset;
  --card-header-color: var(--body-text-color);
  --card-header-margin-y: 0.5rem;
  --card-header-margin-x: 0;
  --card-icon-size: 1rem;
  --card-icon-drop-shadow: unset;
  --card-elements-accent-color: initial;
}

.card {
  position: relative;
  z-index: 1;
  display: block;
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  border-color: rgba(var(--card-border-color), var(--card-border-color-opacity));
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  color: var(--card-text-color);
  padding: var(--card-body-padding-y) var(--card-body-padding-x);
  overflow: hidden;
  &-outline {
    box-shadow: unset;
    background-color: unset;
    border: 0.0625rem solid var(--card-background-color);
  }
  &-header {
    display: flex;
    flex-direction: row;
    color: var(--card-header-color);
    margin: 0 0 var(--card-header-margin-y) 0;
  }
  &-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.025rem;
  }
  &-icon {
    position: absolute;
    z-index: 1;
    display: block;
    width: var(--card-icon-size);
    height: var(--card-icon-size);
    filter: var(--card-icon-drop-shadow);
    &-top {
      top: var(--card-body-padding-y);
    }
    &-bottom {
      bottom: var(--card-body-padding-y);
    }
    &-left {
      left: var(--card-body-padding-x);
    }
    &-right {
      right: var(--card-body-padding-x);
    }
    & svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-shadowed {
    --card-box-shadow: 0rem 0.0625rem 0.0469rem 0rem rgba(var(--white-rgb), 0.15) inset,
      0rem -0.0625rem 0.0625rem 0rem rgba(var(--true-black-rgb), 0.33) inset;
  }
  &-outline {
    background-color: unset;
    --card-box-shadow: 0rem 0.0625rem 0.0469rem 0rem rgba(var(--white-rgb), 0.15) inset;
  }
  &-glass {
    --card-background-color: rgba(var(--dark-grey-rgb), 0.125);
    --card-text-color: var(--white);
  }
}

@each $color, $value in $colors {
  .card-#{$value} {
    --card-background-color: rgba(var(--#{$value}-rgb), 1);
    @if $value == "secondary" {
      --card-background-color: var(--dark-grey);
      --card-text-color: var(--normal-grey);
    }
    & svg {
      & path {
        fill: currentColor;
      }
    }
  }
}
