// Общие стили для скрытых чекбоксов и радиокнопок
input[type="checkbox"],
input[type="radio"] {

	&:checked,
	&:not(:checked) {
		position: absolute;
		width: 14px;
		height: 14px;
		margin: 0;
		opacity: 0;
		pointer-events: none;
	}

	// Стили для label
	&:checked+label,
	&:not(:checked)+label {
		display: inline-block;
		position: relative;
		padding-left: 28px;
		// line-height: 1;
		color: var(--black);
		cursor: pointer;

		@include breakpoint("lg") {
			padding-left: 20px;
		}

		// Псевдоэлемент ::before (фон)
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 2px;
			width: 16px;
			height: 16px;
			border: 1px solid var(--primary);
			border-radius: 2px;
			background-color: var(--white);

			@include breakpoint("lg") {
				width: 14px;
				height: 14px;
			}
		}

		// Псевдоэлемент ::after (индикатор выбора)
		&::after {
			content: "";
			position: absolute;
			top: 2px;
			border-radius: 2px;
			transition: all 0.2s ease;
		}
	}

	&:user-valid {
		&+label {
			color: var(--black);

			&::before {
				border-color: var(--primary);
			}
		}
	}

	&.error,
	&:user-invalid {
		&+label {
			color: var(--error);

			&::before {
				border-color: var(--error);
			}
		}
	}
}

// Специфичные стили для чекбоксов
input[type="checkbox"] {

	&:checked+label,
	&:not(:checked)+label {
		&::before {
			border-radius: 2px;
		}

		&::after {
			// top: 0;
			left: 0;
			width: 18px;
			height: 16px;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0.5H1.75C1.05964 0.5 0.5 1.05964 0.5 1.75V10.5C0.5 11.1904 1.05964 11.75 1.75 11.75H10.5C11.1904 11.75 11.75 11.1904 11.75 10.5V1.75C11.75 1.05964 11.1904 0.5 10.5 0.5Z' fill='%23FF7914' stroke='%23FF7914' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.25 5.5L6.125 7.375L12.375 1.125' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			@include breakpoint("lg") {
				width: 16px;
				height: 14px;
			}
		}
	}

	&:checked+label {
		&::before {
			background-color: var(--primary);
		}
	}
}

// Специфичные стили для радиокнопок
input[type="radio"] {

	&:checked+label,
	&:not(:checked)+label {
		&::before {
			border-radius: 100%;
		}

		&::after {
			top: 4px;
			left: 4px;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: var(--primary);
		}
	}
}

// Состояния
input[type="checkbox"],
input[type="radio"] {

	// Не выбрано
	&:not(:checked)+label::after {
		opacity: 0;
	}

	// Выбрано
	&:checked+label {
		color: var(--primary);

		&::before {
			border-color: var(--primary);
		}

		&::after {
			opacity: 1;
		}
	}
}