:root {
  #{$prefix}-form-input-size: 1.25rem;
  #{$prefix}-form-input-margin: 0.125rem;
  #{$prefix}-form-input-color: var(--grey-rgb);
  #{$prefix}-form-check-bg: rgba(var(--white), 0.2);
  #{$prefix}-form-check-bg-size: 0.65rem;
  #{$prefix}-border-width: 0.0625rem;
  #{$prefix}-border-color: rgba(var(#{$prefix}-form-input-color), 0.5);
  #{$prefix}-border-radius: 0.25rem;
  #{$prefix}-checkbox-size: initial;
  #{$prefix}-form-check-label-padding-x: 0.75rem;
}

.form-check {
  position: relative;
  min-height: calc(
    var(#{$prefix}-form-input-margin) + var(#{$prefix}-form-input-size)
  );
  padding-left: var(#{$prefix}-form-input-size);
  margin-bottom: var(#{$prefix}-form-input-margin);
  & .form-check-input {
    float: left;
    margin-top: var(#{$prefix}-form-input-margin);
    margin-left: calc(-1 * var(#{$prefix}-form-input-size));
  }
  &-label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: var(#{$prefix}-form-check-label-padding-x);
    user-select: none;
    cursor: pointer;
  }
  &-input {
    position: relative;
    width: var(#{$prefix}-form-input-size);
    height: var(#{$prefix}-form-input-size);
    flex: 0 0 var(#{$prefix}-form-input-size);
    margin-top: var(#{$prefix}-form-input-margin);
    vertical-align: top;
    background-color: var(#{$prefix}-form-check-bg);
    background-image: var(#{$prefix}-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(#{$prefix}-form-check-bg-size);
    border: var(#{$prefix}-border-width) solid;
    border-color: var(#{$prefix}-border-color);
    border-radius: var(#{$prefix}-border-radius);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    cursor: pointer;
    &[type="checkbox"] {
      border-radius: var(#{$prefix}-border-radius);
      &:checked {
        #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z' fill='%23000000'/%3E%3Cpath d='M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z' fill='%23000000'/%3E%3C/svg%3E%0A");
      }
    }
    &[type="radio"] {
      border-radius: 50%;
      &:checked {
        #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z' fill='%23000000'/%3E%3C/svg%3E%0A");
      }
    }
    &:active {
      filter: brightness(75%);
    }
    &:focus {
      outline: 0;
    }
    &:checked {
      #{$prefix}-form-check-bg: var(--white);
      #{$prefix}-border-color: #{darken($white, 15%)};
    }
    &:checked[type="checkbox"] {
      #{$prefix}-form-check-bg: var(--white);
    }
    &:checked[type="radio"] {
      #{$prefix}-form-check-bg: var(--white);
    }
    &[type="checkbox"]:indeterminate {
      background-color: var(--white);
      border-color: #{darken($black, 5%)};
      #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2365cb82' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }
    &[disabled],
    &:disabled {
      pointer-events: none;
      filter: brightness(50%);
      opacity: 0.5;
    }
    &[disabled][checked],
    &:disabled:checked {
      pointer-events: none;
      filter: brightness(75%);
      opacity: 0.5;
    }
    &[disabled] ~ label,
    &:disabled ~ label {
      cursor: default;
      opacity: 0.5;
    }
  }
  &-reverse {
    padding-right: var(#{$prefix}-form-input-size);
    padding-left: 0;
    text-align: right;
    & .form-check-input {
      float: right;
      margin-right: calc(-1 * var(#{$prefix}-form-input-size));
      margin-left: 0;
    }
    & .form-check-label {
      padding-left: unset;
      padding-right: var(#{$prefix}-form-check-label-padding-x);
    }
  }
}

@each $color, $value in $colors {
  .form-check-#{$value} {
    &:not(.form-check-outline) {
      & .form-check-input {
        @if ($value != "white") {
          &[type="checkbox"] {
            &:checked {
              #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z' fill='%23#{str-slice(inspect(#ffffff), 2)}'/%3E%3Cpath d='M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z' fill='%23#{str-slice(inspect(#ffffff), 2)}'/%3E%3C/svg%3E%0A");
            }
          }
          &[type="radio"] {
            &:checked {
              #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z' fill='%23#{str-slice(inspect(#ffffff), 2)}'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
    }
    & .form-check-input {
      &:checked {
        #{$prefix}-form-check-bg: var(--#{$value});
        #{$prefix}-border-color: #{darken($color, 5%)};
      }
      &:checked[type="checkbox"] {
        #{$prefix}-form-check-bg: var(--#{$value});
      }
      &:checked[type="radio"] {
        #{$prefix}-form-check-bg: var(--#{$value});
      }
    }
    &:is(.form-check-colored) {
      & .form-check-input {
        #{$prefix}-border-color: var(--#{$value});
        &:checked {
          & + .form-check-label {
            color: var(--#{$value});
          }
        }
      }
    }
  }

  .form-check-outline {
    &:is(.form-check-#{$value}) {
      & .form-check-input {
        #{$prefix}-form-check-bg: rgba(var(--#{$value}-rgb), 0);
        #{$prefix}-border-color: rgba(var(--#{$value}-rgb), 0.5);
        &[type="checkbox"] {
          &:checked {
            // method for config your color-vars in `background-image: url()` type
            #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z' fill='%23#{str-slice(inspect($color), 2)}'/%3E%3Cpath d='M9.7775 1.69937L4.1075 7.36937C3.9675 7.50937 3.7775 7.58938 3.5775 7.58938C3.3775 7.58938 3.1875 7.50937 3.0475 7.36937L0.2175 4.53937C-0.0725 4.24937 -0.0725 3.76937 0.2175 3.47937C0.5075 3.18937 0.9875 3.18937 1.2775 3.47937L3.5775 5.77937L8.7175 0.639375C9.0075 0.349375 9.4875 0.349375 9.7775 0.639375C10.0675 0.929375 10.0675 1.39937 9.7775 1.69937Z' fill='%23#{str-slice(inspect($color), 2)}'/%3E%3C/svg%3E%0A");
          }
        }
        &[type="radio"] {
          &:checked {
            // method for config your color-vars in `background-image: url()` type
            #{$prefix}-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.694 0 0 2.694 0 6C0 9.306 2.694 12 6 12C9.306 12 12 9.306 12 6C12 2.694 9.306 0 6 0Z' fill='%23#{str-slice(inspect($color), 2)}'/%3E%3C/svg%3E%0A");
          }
        }
        &:active {
          filter: brightness(75%);
        }
        &:checked {
          #{$prefix}-form-check-bg: rgba(var(--#{$value}-rgb), 0);
          #{$prefix}-border-color: rgba(var(--#{$value}-rgb), 1);
        }
      }
    }
  }
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  &[disabled] + .btn,
  &:disabled + .btn {
    pointer-events: none;
    filter: none;
    opacity: 0.65;
  }
}
