:root {
  --checkbox-size: var(--font-size);
  --checkbox-background-color: transparent;
  --checkbox-background-image: unset;
  --checkbox-border-size: 1px;
  --checkbox-border-style: solid;
  --checkbox-border-color: var(--default-text-color);
  --checkbox-border-radius: 2px;
  --checkbox-gutter: 4px;
  --checkbox-color: var(--default-text-color);
  --checkbox-shadow: none;
  --label-color: var(--default-text-color);
}

// Общие стили для скрытых чекбоксов и радиокнопок
input[type="checkbox"],
input[type="radio"] {
  &:checked,
  &:not(:checked) {
    position: absolute;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    margin: 0;
    opacity: 0;
    pointer-events: none;
  }

  // Стили для label
  &:checked + label,
  &:not(:checked) + label {
    display: inline-block;
    position: relative;
    color: var(--label-color);
    cursor: pointer;

    // Псевдоэлемент ::before (фон)
    &::before {
      content: "";
      display: inline-block;
      width: var(--checkbox-size);
      height: var(--checkbox-size);
      margin-top: 1px;
      margin-right: var(--checkbox-gutter);
      border: var(--checkbox-border-size) var(--checkbox-border-style)
        var(--checkbox-border-color);
      border-radius: var(--checkbox-border-radius);
      background-color: var(--checkbox-background-color);
      background-image: var(--checkbox-background-image);
      box-shadow: var(--checkbox-shadow);
      line-height: 0.85;
      color: var(--checkbox-color);
      vertical-align: text-top;
      transition: 0.25s ease;
    }
  }

  // &:is(:user-valid) {
  // 	&+label {
  // 		color: var(--black);

  // 		&::before {
  // 			border-color: var(--primary);
  // 		}
  // 	}
  // }

  // &:is(.error),
  // &:is(:user-invalid) {
  // 	&+label {
  // 		--checkbox-color: var(--error);

  // 		&::before {
  // 			--checkbox-border-color: var(--error);
  // 		}
  // 	}
  // }
}

// Специфичные стили для чекбоксов
input[type="checkbox"] {
  &:checked + label {
    --label-color: var(--primary);

    &::before {
      content: "✓";
      --checkbox-color: var(--white);
      --checkbox-background-color: var(--primary);
      --checkbox-border-color: var(--primary);
    }
  }

  // Стили для переключателей
  &.switch {
    & + label {
      &::before {
        content: "";
        width: calc(var(--checkbox-size) * 2.35);
        height: calc(var(--checkbox-size) * 1.0625);
        --checkbox-border-radius: 1000px;
        --checkbox-shadow: none;
        --checkbox-background-color: transparent;
        --checkbox-shadow: none;
      }
    }

    &:not(:checked) + label {
      &::before {
        --checkbox-background-image:
          radial-gradient(
            circle at 25% 50%,
            var(--default-text-color) 25%,
            transparent 0%
          ),
          linear-gradient(to right, transparent, transparent);
      }
    }

    &:checked + label {
      &::before {
        --checkbox-background-image:
          radial-gradient(
            circle at 75% 50%,
            var(--white) 25%,
            transparent 0%
          ),
          linear-gradient(to right, var(--primary), var(--primary));
      }
    }
  }
}

// Специфичные стили для радиокнопок
input[type="radio"] {
  &:checked + label,
  &:not(:checked) + label {
    --checkbox-border-radius: 100%;
  }

  &:checked + label {
    &::before {
      --checkbox-background-color: var(--default-text-color);
      --checkbox-shadow: inset 0 0 0 calc(var(--checkbox-size) / 5)
        var(--primary);
    }
  }
}

// Состояния
input[type="checkbox"],
input[type="radio"] {
  // Не выбрано
  &:not(:checked) + label::after {
    opacity: 0;
  }

  // Выбрано
  &:checked + label {
    --checkbox-color: var(--primary);
    --label-color: var(--primary);

    &::before {
      --checkbox-border-color: var(--primary);
    }
  }
}
