:root {
  --code-content-border-radius: 0.5rem;
  --code-title-font-weight: 600;
  --code-title-font-size: 0.875rem;
  --code-title-color: var(--body-bs-color);
  --code-title-background-color: var(--grey-100-rgb);
  --code-title-background-opacity: 1;
  --code-title-padding: 0.5rem;
  --code-title-border-width: 0.0625rem;
  --code-title-border-style: solid;
  --code-title-border-color: var(--grey-900-rgb);
  --code-title-border-opacity: 0.25;
  --code-body-padding: 0.5rem;
  --code-body-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --code-body-font-weight: 500;
  --code-body-font-size: 1rem;
  --code-body-background-color: var(--white-rgb);
  --code-body-background-opacity: 0.5;
  --code-body-border-width: 0.0625rem;
  --code-body-border-style: solid;
  --code-body-border-color: var(--grey-900-rgb);
  --code-body-border-opacity: 0.25;
  --code-body-white-space: unset;
}

.code {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &-content {
    border-radius: var(--code-content-border-radius);
  }
  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--code-title-font-weight);
    font-size: var(--code-title-font-size);
    background-color: rgba(var(--code-title-background-color), var(--code-title-background-opacity));
    color: var(--code-title-color);
    padding: var(--code-title-padding);
    border: var(--code-title-border-width) var(--code-title-border-style)
      rgba(var(--code-title-border-color), var(--code-title-border-opacity));
    border-radius: var(--code-content-border-radius) var(--code-content-border-radius) 0 0;
    & + * {
      &:is(.code-body) {
        border-top: none;
        border-radius: 0 0 var(--code-content-border-radius) var(--code-content-border-radius) !important;
      }
    }
  }
  &-body {
    background-color: rgba(var(--code-body-background-color), var(--code-body-background-opacity)) !important;
    font-family: var(--code-body-font-family);
    font-weight: var(--code-body-font-weight);
    font-size: var(--code-body-font-size);
    padding: var(--code-body-padding);
    margin: 0;
    border: var(--code-body-border-width) var(--code-body-border-style)
      rgba(var(--code-body-border-color), var(--code-body-border-opacity));
    border-radius: var(--code-content-border-radius);
    overflow: auto;
  }
  &:is(.disabled),
  &:is([disabled]) {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
  &:is(.copied) {
    &::before {
      content: "Скопировано";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--black);
      color: var(--white);
      border-radius: var(--code-content-border-radius);
    }
  }
}
