:root {
  --dropdown-padding-x: 16px;
  --dropdown-padding-y: 12px;
  --dropdown-color: var(--default-text-color);
  --dropdown-background-color: var(--default-body-color);
  --dropdown-border-width: 1px;
  --dropdown-border-style: solid;
  --dropdown-border-color: color-mix(
    in srgb,
    var(--default-text-color) 20%,
    var(--default-body-color) 80%
  );
  --dropdown-shadow-size: 0 4px 8px 0;
  --dropdown-shadow-color: color-mix(
    in srgb,
    var(--default-text-color) 20%,
    var(--default-body-color) 80%
  );
}

.dropdown {
  position: relative;

  &-wrapper {
    position: absolute;
    z-index: 1020;
    @include paragraph;
    @include webkit_scrollbar;
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    font-family: $font-family;
    color: var(--dropdown-color);
    border-radius: 15px;
    background-color: var(--dropdown-background-color);
    border: var(--dropdown-border-width) var(--dropdown-border-style)
      var(--dropdown-border-color);
    outline: none;
    box-shadow: var(--dropdown-shadow-size)
      color-mix(in srgb, var(--dropdown-shadow-color) 15%, transparent);
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 0);
    transition: 0.25s ease-in-out;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
