@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Medium.eot");
  src: local("Verdana, Geneva, sans-serif Medium"), local("ApercuPro-Medium"),
    url("/resources/fonts/ApercuPro/ApercuPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Medium.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Medium.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-MediumItalic.eot");
  src: local("Verdana, Geneva, sans-serif Medium Italic"),
    local("ApercuPro-MediumItalic"),
    url("/resources/fonts/ApercuPro/ApercuPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-MediumItalic.woff2")
      format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-MediumItalic.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-ExtraLight.eot");
  src: local("Verdana, Geneva, sans-serif ExtraLight"),
    local("ApercuPro-ExtraLight"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLight.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLight.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Black.eot");
  src: local("Verdana, Geneva, sans-serif Black"), local("ApercuPro-Black"),
    url("/resources/fonts/ApercuPro/ApercuPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Black.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Black.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Bold.eot");
  src: local("Verdana, Geneva, sans-serif Bold"), local("ApercuPro-Bold"),
    url("/resources/fonts/ApercuPro/ApercuPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Bold.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Bold.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-BoldItalic.eot");
  src: local("Verdana, Geneva, sans-serif Bold Italic"),
    local("ApercuPro-BoldItalic"),
    url("/resources/fonts/ApercuPro/ApercuPro-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-BoldItalic.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-BoldItalic.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Thin.eot");
  src: local("Verdana, Geneva, sans-serif Thin"), local("ApercuPro-Thin"),
    url("/resources/fonts/ApercuPro/ApercuPro-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Thin.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Thin.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-ThinItalic.eot");
  src: local("Verdana, Geneva, sans-serif Thin Italic"),
    local("ApercuPro-ThinItalic"),
    url("/resources/fonts/ApercuPro/ApercuPro-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-ThinItalic.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-ThinItalic.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-ThinItalic.ttf")
      format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Regular.eot");
  src: local("Verdana, Geneva, sans-serif Regular"), local("ApercuPro-Regular"),
    url("/resources/fonts/ApercuPro/ApercuPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Regular.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Regular.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Italic.eot");
  src: local("Verdana, Geneva, sans-serif Italic"), local("ApercuPro-Italic"),
    url("/resources/fonts/ApercuPro/ApercuPro-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Italic.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Italic.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-ExtraLightItalic.eot");
  src: local("Verdana, Geneva, sans-serif ExtraLight Italic"),
    local("ApercuPro-ExtraLightItalic"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLightItalic.woff2")
      format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLightItalic.woff")
      format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-Light.eot");
  src: local("Verdana, Geneva, sans-serif Light"), local("ApercuPro-Light"),
    url("/resources/fonts/ApercuPro/ApercuPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-Light.woff2") format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-Light.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-LightItalic.eot");
  src: local("Verdana, Geneva, sans-serif Light Italic"),
    local("ApercuPro-LightItalic"),
    url("/resources/fonts/ApercuPro/ApercuPro-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-LightItalic.woff2")
      format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-LightItalic.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}

@font-face {
  font-family: Verdana, Geneva, sans-serif;
  src: url("/resources/fonts/ApercuPro/ApercuPro-BlackItalic.eot");
  src: local("Verdana, Geneva, sans-serif Black Italic"),
    local("ApercuPro-BlackItalic"),
    url("/resources/fonts/ApercuPro/ApercuPro-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/resources/fonts/ApercuPro/ApercuPro-BlackItalic.woff2")
      format("woff2"),
    url("/resources/fonts/ApercuPro/ApercuPro-BlackItalic.woff") format("woff"),
    url("/resources/fonts/ApercuPro/ApercuPro-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  ascent-override: 95%;
}
