.form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&-footer {
		align-items: center;
		gap: 20px;
		padding: 40px 95px;
		background-color: rgba($black, 80%);
		border: none;
		color: var(--white);

		@include breakpoint("xxl") {
			padding: 40px 70px;
		}

		@include breakpoint("xl") {
			padding: 40px 50px;
		}

		@include breakpoint("lg") {
			padding: 20px;
		}

		& .form {
			&--header {
			}

			&--content {
				display: flex;
				flex-direction: column;
				gap: 20px;
				max-width: 500px;
				width: 100%;

				& button[type="submit"] {
					max-width: 300px;
					width: 100%;
					margin: 0 auto;
				}
			}

			&--inputs {
				gap: 10px;

				& > * {
					height: unset;
				}
			}
		}
	}

	&--inputs {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}
