.link {
    &:not(.link-last-decoration) {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-decoration-thickness: 0.0625rem;
        text-underline-offset: 0.4375rem;
    }
    &-tag {
        display: inline-block;
        font-weight: 400;
        font-size: 0.6875rem;
        line-height: 100%;
        color: currentColor;
        text-decoration: none;
        padding: 0.625rem 0.75rem 0.6875rem;
        background-color: transparent;
        border: 0.0625rem solid;
        border-color: currentColor;
        border-radius: 50rem;
        appearance: none;
        @media (min-width: 1200px) {
            font-size: 0.9375rem;
            padding: 0.625rem 0.9375rem 0.75rem;
        }
    }
    &-request {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &-icon {
            height: 1.125rem;
            @media (min-width: 1200px) {
                height: 1.4375rem;
            }
            & svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-text {
            padding-left: 1.875rem;
        }
    }
    &-last {
        &-decoration {
            text-decoration: none;
            & > * {
                white-space: nowrap;
                text-decoration: none;
                &:last-of-type {
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    text-decoration-thickness: 0.0625rem;
                    text-underline-offset: 0.4375rem;
                }
            }
        }
    }
}
