:root {
    --modal-translate: 0%;
}

.modal {
    #{$prefix}-modal-backdrop-bg: rgba(var(--true-black-rgb), 0.5);
    #{$prefix}-modal-border-radius: 0;
    #{$prefix}-modal-padding-y: 1rem;
    #{$prefix}-modal-padding-x: 0;
    #{$prefix}-modal-content-padding-y: 1rem;
    #{$prefix}-modal-content-padding-x: 1rem;
    #{$prefix}-modal-content-background-color: var(--card-background-color);
    #{$prefix}-modal-content-color: var(--card-text-color);
    #{$prefix}-modal-content-border-radius: 1.5rem;
    #{$prefix}-modal-backdrop-filter: blur(2.8606rem);
    #{$prefix}-modal-header-padding-y: 1rem;
    #{$prefix}-modal-header-padding-x: 0;
    #{$prefix}-modal-body-padding-y: 1rem;
    #{$prefix}-modal-body-padding-x: 0;
    #{$prefix}-modal-footer-padding-y: 2rem;
    #{$prefix}-modal-footer-padding-x: 0;
    #{$prefix}-modal-zindex: 1050;
    position: fixed;
    background-color: var(#{$prefix}-modal-backdrop-bg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    // backdrop-filter: var(#{$prefix}-modal-backdrop-filter);
    z-index: -100;
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    overflow: hidden;
    transition: all 0.6s;
    &-is {
        &-open {
            position: static;
            touch-action: none;
            overflow: hidden;
            & .modal-dialog {
                animation: modal-show-in-top 0.6s ease backwards;
                opacity: 1;
            }
        }
    }
    &:not(.show) {
        & .modal-dialog {
            animation: modal-hide-in-bottom 0.6s ease backwards;
        }
    }
    &.show {
        z-index: var(#{$prefix}-modal-zindex);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        & .modal-dialog {
            animation: modal-show-in-top 0.6s ease backwards;
            opacity: 1;
        }
    }
    &-dialog {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 22.375rem;
        height: fit-content;
        margin: auto auto 0 auto;
        padding: var(#{$prefix}-modal-padding-y) var(#{$prefix}-modal-padding-x);
        transform: translateY(var(--modal-translate));
        transition: 0.05s ease;
    }
    &-content {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        padding: calc(var(#{$prefix}-modal-content-padding-y) + 0.5rem) var(#{$prefix}-modal-content-padding-x)
            var(#{$prefix}-modal-content-padding-y);
        border-radius: var(#{$prefix}-modal-border-radius);
        color: var(#{$prefix}-modal-content-color);
        background-color: var(#{$prefix}-modal-content-background-color);
        border-radius: var(#{$prefix}-modal-content-border-radius);
        overflow: hidden;
        cursor: grab;
        touch-action: pan-y;
    }
    &-inner {
        & > * {
            &:first-child {
                &:is(:not(.modal-close)):is(:not(.modal-icon)) {
                    padding: 0 var(#{$prefix}-modal-header-padding-x);
                    & ~ .modal-footer {
                        #{$prefix}-modal-footer-padding-y: 1rem;
                    }
                }
            }
        }
    }
    &-header {
        padding: var(#{$prefix}-modal-header-padding-y) var(#{$prefix}-modal-header-padding-x) 0;
        & > .row {
            #{$prefix}-gutter-x: 0.5rem;
            #{$prefix}-gutter-y: 0.5rem;
        }
    }
    &-title {
        display: block;
        width: 100%;
        text-align: center;
    }
    &-body {
        padding: var(#{$prefix}-modal-body-padding-y) var(#{$prefix}-modal-body-padding-x) 0;
        text-align: center;
        &-text {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 1.2rem */
            letter-spacing: -0.02rem;
            &:last-of-type {
                margin: 0;
            }
        }
    }
    &-footer {
        padding: var(#{$prefix}-modal-footer-padding-y) var(#{$prefix}-modal-footer-padding-x) 0;
        & > .row {
            #{$prefix}-gutter-x: 0.5rem;
            #{$prefix}-gutter-y: 0.5rem;
        }
    }
    &-translating {
        user-select: none;
    }
    &-icon {
        #{$prefix}-icon-width: 2rem;
        #{$prefix}-icon-height: 2rem;
        position: relative;
        width: var(#{$prefix}-icon-width);
        height: var(#{$prefix}-icon-height);
        z-index: 1;
        appearance: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: unset;
        margin: auto;
        padding: 0;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        & svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-sphere {
            #{$prefix}-icon-width: 4rem;
            #{$prefix}-icon-height: 4rem;
            margin-top: 0.75rem;
            margin-bottom: 0.5rem;
        }
    }
    &-close {
        #{$prefix}-btn-padding-x: 0.75rem;
        #{$prefix}-btn-padding-y: 0.75rem;
        #{$prefix}-btn-top: 0;
        #{$prefix}-btn-left: 50%;
        #{$prefix}-modal-close-w: 2.75rem;
        #{$prefix}-modal-close-h: 0.25rem;
        #{$prefix}-modal-close-border-radius: 7.6875rem;
        #{$prefix}-modal-close-background-color: var(--grey);
        position: relative;
        z-index: 1;
        appearance: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: unset;
        margin: -1.5rem auto auto auto;
        padding: var(#{$prefix}-btn-padding-y) var(#{$prefix}-btn-padding-x);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        pointer-events: fill;
        cursor: grab;
        user-select: none;
        &::before {
            content: "";
            width: var(#{$prefix}-modal-close-w);
            height: var(#{$prefix}-modal-close-h);
            background-color: var(#{$prefix}-modal-close-background-color);
            border-radius: var(#{$prefix}-modal-close-border-radius);
            color: var(#{$prefix}-modal-close-color);
        }
        & svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
