.notify-bar {
    display: none;
    width: 100%;
    min-width: 307px;
    padding: 0 12px;
    @media (min-width: 576px) {
        width: 307px;
        padding: 0;
    }
    &[data-popper-reference-hidden] {
        visibility: hidden;
        pointer-events: none;
    }
    &[show-popper] {
        display: inline-block;
        z-index: 1020;
    }
    &-content {
        font-weight: 500;
        font-size: 1rem;
        color: rgba(var(--primary-rgb), 0.75);
        background-color: var(--white);
        // border-radius: 10px;
        border-radius: 0;
        padding: 20px;
    }
    &-header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    &-body {
        padding: 20px 0 0;
    }
    &-title {
        font-family: "Stratos LC Web";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        color: var(--primary);
    }
    &-close {
        position: absolute;
        top: 0;
        right: 0;
        #{$prefix}-btn-padding-x: 0;
        #{$prefix}-btn-padding-y: 0;
        #{$prefix}-notifybar-close-w: 20px;
        #{$prefix}-notifybar-close-h: 20px;
        #{$prefix}-notifybar-close-bg-color: transparent;
        #{$prefix}-notifybar-close-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1667 9.16667C18.7067 9.16667 18.3333 9.54 18.3333 10C18.3333 14.595 14.595 18.3333 10 18.3333C5.405 18.3333 1.66667 14.595 1.66667 10C1.66667 5.405 5.405 1.66667 10 1.66667C12.2371 1.66667 14.3371 2.54083 15.9133 4.12833C16.2375 4.45458 16.7654 4.45667 17.0917 4.1325C17.4183 3.80833 17.42 3.28042 17.0958 2.95375C15.2046 1.04917 12.6842 0 10 0C4.48583 0 0 4.48583 0 10C0 15.5142 4.48583 20 10 20C15.5137 20 20 15.5142 20 10C20 9.54 19.6267 9.16667 19.1667 9.16667Z' fill='%23020726'/%3E%3Cpath d='M11.1776 9.99925L13.0884 8.08841C13.4138 7.76299 13.4138 7.23549 13.0884 6.91008C12.763 6.58466 12.2355 6.58466 11.9101 6.91008L9.99924 8.82091L8.08841 6.91008C7.76341 6.58466 7.23508 6.58466 6.91008 6.91008C6.58466 7.23549 6.58466 7.76299 6.91008 8.08841L8.82091 9.99925L6.91008 11.9101C6.58466 12.2355 6.58466 12.763 6.91008 13.0884C7.07258 13.2513 7.28591 13.3326 7.49924 13.3326C7.71258 13.3326 7.92591 13.2513 8.08841 13.0884L9.99924 11.1776L11.9101 13.0884C12.073 13.2513 12.2859 13.3326 12.4992 13.3326C12.7126 13.3326 12.9255 13.2513 13.0884 13.0884C13.4138 12.763 13.4138 12.2355 13.0884 11.9101L11.1776 9.99925Z' fill='%23020726'/%3E%3C/svg%3E%0A");
        appearance: none;
        border: none;
        outline: none;
        width: var(#{$prefix}-notifybar-close-w);
        height: var(#{$prefix}-notifybar-close-h);
        background-color: var(#{$prefix}-notifybar-close-bg-color);
        background-image: var(#{$prefix}-notifybar-close-image);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: var(#{$prefix}-btn-padding-y) var(#{$prefix}-btn-padding-x);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        transform: rotate(0deg);
        transition: transform 0.4s ease;
        &:hover {
            transform: rotate(180deg);
        }
    }
    &-scroller {
        width: 100%;
        height: 100%;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 7px solid transparent;
        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(var(--primary-rgb), 0.2);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            cursor: grabbing;
        }
        & > .row {
            #{$prefix}-gutter-y: 20px;
        }
    }
    &-collection {
        & > .row {
            #{$prefix}-gutter-y: 20px;
        }
    }
    &-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 320px;
        text-align: center;
    }
}
