.popover {
    --cl-popover-zindex: 1070;
    --cl-popover-max-width: 276px;
    --cl-popover-font-size: 0.875rem;
    --cl-popover-bg: var(--white);
    --cl-popover-border-width: var(--cl-border-width);
    --cl-popover-border-color: var(--cl-border-color-translucent);
    --cl-popover-border-radius: var(--cl-border-radius-lg);
    --cl-popover-inner-border-radius: calc(var(--cl-border-radius-lg) - var(--cl-border-width));
    --cl-popover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --cl-popover-header-padding-x: 1rem;
    --cl-popover-header-padding-y: 0.5rem;
    --cl-popover-header-font-size: 1rem;
    --cl-popover-header-color: ;
    --cl-popover-header-bg: var(--cl-secondary-bg);
    --cl-popover-body-padding-x: 1rem;
    --cl-popover-body-padding-y: 1rem;
    --cl-popover-body-color: var(--cl-body-color);
    --cl-popover-arrow-width: 1rem;
    --cl-popover-arrow-height: 0.5rem;
    --cl-popover-arrow-border: var(--cl-popover-border-color);
    z-index: var(--cl-popover-zindex);
    display: block;
    max-width: var(--cl-popover-max-width);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(var(--primary-rgb), 0.75);
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    white-space: normal;
    word-spacing: normal;
    line-break: auto;
    font-size: var(--cl-popover-font-size);
    word-wrap: break-word;
    background-color: var(--cl-popover-bg);
    background-clip: padding-box;
    border: var(--cl-popover-border-width) solid var(--cl-popover-border-color);
    border-radius: var(--cl-popover-border-radius);
    &:not([show-popper]) {
        display: none;
    }
    &-myportfolio {
        width: 100%;
        --cl-popover-max-width: 577px;
    }
    &-list {
        width: 100%;
        --cl-popover-max-width: 577px;
    }
    &[id="legalStatus"],
    &[id="aboutTeam"],
    &[id="teamPortfolio"],
    &[id="motivationTeam"],
    &[id="myContest"],
    &[id="videoMessage"] {
        width: 100%;
        --cl-popover-max-width: 577px;
        @media (min-width: 768px) {
            --cl-popover-max-width: 338px;
        }
        @media (min-width: 992px) {
            --cl-popover-max-width: 458px;
        }
        @media (min-width: 1200px) {
            --cl-popover-max-width: 378px;
        }
    }
    &[id="personalPortfolio"] {
        width: 100%;
        --cl-popover-max-width: 577px;
        @media (min-width: 768px) {
            --cl-popover-max-width: 428px;
        }
        @media (min-width: 992px) {
            --cl-popover-max-width: 458px;
        }
        @media (min-width: 1200px) {
            --cl-popover-max-width: 428px;
        }
    }
    &-header {
        padding: var(--cl-popover-header-padding-y) var(--cl-popover-header-padding-x);
        margin-bottom: 0;
        font-size: var(--cl-popover-header-font-size);
        color: var(--cl-popover-header-color);
        background-color: var(--cl-popover-header-bg);
        border-bottom: var(--cl-popover-border-width) solid var(--cl-popover-border-color);
        border-top-left-radius: var(--cl-popover-inner-border-radius);
        border-top-right-radius: var(--cl-popover-inner-border-radius);
    }
    &-header:empty {
        display: none;
    }
    &-body {
        padding: var(--cl-popover-body-padding-y) var(--cl-popover-body-padding-x);
        color: var(--cl-popover-body-color);
    }
}
