.form-select {
    #{$prefix}-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    #{$prefix}-border-width: 0.125rem;
    #{$prefix}-form-select-bg: var(--white);
    #{$prefix}-form-select-bg-size: 1rem 0.75rem;
    #{$prefix}-form-select-color: var(--green);
    #{$prefix}-border-color: var(--green);
    #{$prefix}-form-select-border-radius: 0.9375rem;
    #{$prefix}-form-select-padding-left: 0.9375rem;
    #{$prefix}-form-select-padding-top: 0.8125rem;
    #{$prefix}-form-select-padding-right: 2.25rem;
    #{$prefix}-form-select-padding-bottom: 0.8125rem;
    #{$prefix}-form-select-font-size: 1rem;
    display: block;
    width: 100%;
    padding: var(#{$prefix}-form-select-padding-top) var(#{$prefix}-form-select-padding-right)
        var(#{$prefix}-form-select-padding-bottom) var(#{$prefix}-form-select-padding-left);
    font-style: normal;
    font-size: var(#{$prefix}-form-select-font-size);
    font-weight: bold;
    line-height: 1.5;
    color: var(#{$prefix}-form-select-color);
    background-color: var(#{$prefix}-form-select-bg);
    background-image: var(#{$prefix}-form-select-bg-img), var(#{$prefix}-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: var(#{$prefix}-form-select-bg-size);
    border: var(#{$prefix}-border-width) solid var(#{$prefix}-border-color);
    border-radius: var(#{$prefix}-form-select-border-radius);
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
    &:focus {
        border-color: #{transparentize(darken($green, 5%), 0.5)};
        outline: 0;
    }
    &[multiple],
    &[size]:not([size="1"]) {
        padding-right: 0.75rem;
        background-image: none;
    }
    &:disabled {
        background-color: var(#{$prefix}-secondary-bg);
    }
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 var(#{$prefix}-body-color);
    }
    &-sm {
        #{$prefix}-form-select-font-size: 0.875rem;
    }
    &-lg {
        #{$prefix}-form-select-font-size: 1.25rem;
    }
}

[data-bs-theme="dark"] .form-select {
    #{$prefix}-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
