:root {
    #{$prefix}-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    #{$prefix}-select-bg: var(--white-rgb);
    #{$prefix}-select-bg-opacity: 1;
    #{$prefix}-select-bg-size: 1rem;
    #{$prefix}-select-color: var(--black-rgb);
    #{$prefix}-select-color-opacity: 0.8;
    #{$prefix}-select-border-width: 0.0625rem;
    #{$prefix}-select-border-color: var(--black-rgb);
    #{$prefix}-select-border-color-opacity: 0.8;
    #{$prefix}-select-border-radius: 0.5rem;
    #{$prefix}-select-padding-x: 1rem;
    #{$prefix}-select-padding-y: 0.75rem;
    #{$prefix}-select-font-size: 1rem;
    #{$prefix}-select-font-weight: 400;
    #{$prefix}-select-line-height: 1.25;
}

.form-select {
    display: block;
    width: 100%;
    padding: var(#{$prefix}-select-padding-y) calc(var(#{$prefix}-select-padding-x) + 1.25rem)
        var(#{$prefix}-select-padding-y) var(#{$prefix}-select-padding-x);
    font-style: normal;
    font-size: var(#{$prefix}-select-font-size);
    font-weight: var(#{$prefix}-select-font-weight);
    line-height: var(#{$prefix}-select-line-height);
    color: rgba(var(#{$prefix}-select-color), var(#{$prefix}-select-color-opacity));
    background-color: rgba(var(#{$prefix}-select-bg), var(#{$prefix}-select-bg-opacity));
    background-image: var(#{$prefix}-select-bg-img), var(#{$prefix}-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: var(#{$prefix}-select-bg-size);
    border: var(#{$prefix}-select-border-width) solid
        rgba(var(#{$prefix}-select-border-color), var(#{$prefix}-select-border-color-opacity));
    border-radius: var(#{$prefix}-select-border-radius);
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
    &:not(:placeholder-shown),
    &:not(:focus) {
        #{$prefix}-select-color-opacity: 0.85;
        #{$prefix}-select-border-color-opacity: 0.85;
    }
    &:focus {
        #{$prefix}-select-color-opacity: 1;
        #{$prefix}-select-border-color-opacity: 1;
        outline: 0;
    }
    &[multiple],
    &[size]:not([size="1"]) {
        padding-top: calc(var(#{$prefix}-select-padding-y) / 2);
        padding-bottom: calc(var(#{$prefix}-select-padding-y) / 2);
        background-image: none;
    }
    &[size="1"] {
        padding-top: var(#{$prefix}-select-padding-y);
        padding-bottom: var(#{$prefix}-select-padding-y);
    }
    &:disabled {
        background-color: var(#{$prefix}-secondary-bg);
    }
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 var(#{$prefix}-body-color);
    }
    &-sm {
        padding: calc(var(#{$prefix}-select-padding-y) / 2) calc(var(#{$prefix}-select-padding-x) + 1.25rem)
            calc(var(#{$prefix}-select-padding-y) / 2) var(#{$prefix}-select-padding-x);
        background-size: calc(var(#{$prefix}-select-bg-size) / 1.25);
        font-size: calc(var(#{$prefix}-select-font-size) / 1.25);
        line-height: calc(#{$prefix}-select-line-height / 1.25);
    }
    &-lg {
        padding: calc(var(#{$prefix}-select-padding-y) * 2) calc(var(#{$prefix}-select-padding-x) + 1.25rem)
            calc(var(#{$prefix}-select-padding-y) * 2) var(#{$prefix}-select-padding-x);
        background-size: calc(var(#{$prefix}-select-bg-size) * 1.25);
        font-size: calc(var(#{$prefix}-select-font-size) * 1.25);
        line-height: calc(#{$prefix}-select-line-height * 1.25);
    }
}
