.spinner-grow,
.spinner-border {
    display: inline-block;
    width: var(--cl-spinner-width);
    height: var(--cl-spinner-height);
    vertical-align: var(--cl-spinner-vertical-align);
    border-radius: 50%;
    animation: var(--cl-spinner-animation-speed) linear infinite var(--cl-spinner-animation-name);
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg) /* rtl:ignore */;
    }
}
.spinner-border {
    --cl-spinner-width: 2rem;
    --cl-spinner-height: 2rem;
    --cl-spinner-vertical-align: -0.125em;
    --cl-spinner-border-width: 0.25em;
    --cl-spinner-animation-speed: 0.75s;
    --cl-spinner-animation-name: spinner-border;
    border: var(--cl-spinner-border-width) solid currentcolor;
    border-right-color: transparent;
}

.spinner-border-sm {
    --cl-spinner-width: 1rem;
    --cl-spinner-height: 1rem;
    --cl-spinner-border-width: 0.2em;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}
.spinner-grow {
    --cl-spinner-width: 2rem;
    --cl-spinner-height: 2rem;
    --cl-spinner-vertical-align: -0.125em;
    --cl-spinner-animation-speed: 0.75s;
    --cl-spinner-animation-name: spinner-grow;
    background-color: currentcolor;
    opacity: 0;
}

.spinner-grow-sm {
    --cl-spinner-width: 1rem;
    --cl-spinner-height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    .spinner-border,
    .spinner-grow {
        --cl-spinner-animation-speed: 1.5s;
    }
}
