:root {
  #{$prefix}-switch-width: 2.25rem;
  #{$prefix}-switch-height: 1.25rem;
  #{$prefix}-switch-gutter: 2.5rem;
  #{$prefix}-switch-margin: 0.125rem;
  #{$prefix}-switch-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  #{$prefix}-switch-bg: var(--black);
  #{$prefix}-switch-bg-size: 0.85rem;
  #{$prefix}-switch-border-radius: 2rem;
  #{$prefix}-switch-border-color: var(--black);
  #{$prefix}-switch-border-width: 0.0625rem;
}

.form-switch {
  // padding-left: var(#{$prefix}-switch-gutter);
  &-input {
    float: left;
    width: var(#{$prefix}-switch-width);
    height: var(#{$prefix}-switch-height);
    margin-top: var(#{$prefix}-switch-margin);
    // margin-left: calc(var(#{$prefix}-switch-gutter) * -1);
    background-image: var(#{$prefix}-switch-image);
    background-position: calc(var(#{$prefix}-switch-border-width) * 3) 50%;
    background-size: var(#{$prefix}-switch-bg-size)
      var(#{$prefix}-switch-bg-size);
    background-repeat: no-repeat;
    background-color: var(#{$prefix}-switch-bg);
    border-color: var(#{$prefix}-switch-border-color);
    border-style: solid;
    border-radius: var(#{$prefix}-switch-border-radius);
    border-width: var(#{$prefix}-switch-border-width);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    cursor: pointer;
    transition: background-position 0.15s ease-in-out,
      background-image 0.15s ease-in-out;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
    &:focus:active {
      opacity: 0.95;
    }
    &:checked {
      background-position: calc(
          100% - (var(#{$prefix}-switch-border-width) * 3)
        )
        50%;
      background-size: var(#{$prefix}-switch-bg-size)
        var(#{$prefix}-switch-bg-size);
    }
    &[disabled],
    &:disabled {
      pointer-events: none;
      filter: brightness(50%);
      opacity: 0.5;
    }
    &[disabled][checked],
    &:disabled:checked {
      pointer-events: none;
      filter: brightness(75%);
      opacity: 0.5;
    }
    &[disabled] ~ label,
    &:disabled ~ label {
      cursor: default;
      opacity: 0.5;
    }
  }
  &-label {
    position: relative;
    width: 100%;
    padding-left: var(#{$prefix}-form-check-label-padding-x);
    user-select: none;
    cursor: pointer;
  }
  &-reverse {
    padding-right: var(#{$prefix}-switch-gutter);
    padding-left: 0;
    text-align: right;
    & .form-switch-input {
      float: right;
      margin-right: calc(-1 * var(#{$prefix}-form-input-size));
      margin-left: 0;
    }
    & .form-switch-label {
      padding-left: unset;
      padding-right: var(#{$prefix}-form-check-label-padding-x);
    }
  }
}

@each $color, $value in $colors {
  .form-switch-#{$value} {
    &:not(.form-switch-outline) {
      & .form-switch-input {
        @if ($value == "white") {
          #{$prefix}-switch-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23#{str-slice(inspect($black), 2)}'/%3E%3C/svg%3E%0A");
          #{$prefix}-switch-bg: rgba(var(--#{$value}-rgb), 1);
          #{$prefix}-switch-border-color: rgba(var(--#{$value}-rgb), 0.5);
        }
      }
    }
    & .form-switch-input {
      #{$prefix}-switch-bg: rgba(var(--#{$value}-rgb), 1);
      #{$prefix}-switch-border-color: var(--#{$value});
      &:checked {
        #{$prefix}-switch-bg: rgba(var(--#{$value}-rgb), 1);
        #{$prefix}-switch-border-color: var(--#{$value});
      }
    }
  }

  .form-switch-outline {
    &:is(.form-switch-#{$value}) {
      & .form-switch-input {
        // method for config your color-vars in `background-image: url()` type
        #{$prefix}-switch-image: url("data:image/svg+xml,%3Csvg width='0.75rem' height='0.75rem' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23#{str-slice(inspect($color), 2)}'/%3E%3C/svg%3E%0A");
        #{$prefix}-switch-bg: transparent;
        #{$prefix}-switch-border-color: var(--#{$value});
        &:checked {
          #{$prefix}-switch-bg: rgba(var(--#{$value}-rgb), 0);
          #{$prefix}-switch-border-color: var(--#{$value});
        }
      }
    }
  }

  .form-switch-colored {
    &:is(.form-switch-#{$value}) {
      & .form-switch-input {
        &:checked {
          & + .form-switch-label {
            color: $color;
          }
        }
      }
    }
  }
}
