.menu {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	width: 100%;

	@include breakpoint("xxxl") {
		gap: 20px;
	}

	@include breakpoint("xxl") {
		gap: 10px;
	}

	@include custom-breakpoint(1100px) {
		gap: 0;
	}

	@include breakpoint("lg") {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		max-width: 400px;
		width: 100%;
		height: 100vh;
		height: 100dvh;
		padding: 90px 30px 30px;
		border-radius: 15px 0 0 15px;
		background-color: $default-body-color;
		box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, 0.1);
		color: $default-text-color;
		opacity: 0;
		visibility: hidden;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translate3d(100%, 0, 1px);
		transition: 0.4s ease;
		will-change: transform;
	}

	@include breakpoint("sm") {
		max-width: 100%;
		padding: 90px 10px 30px;
		border-radius: 0;
	}

	&.open {
		@include breakpoint("lg") {
			opacity: 1;
			visibility: visible;
			transform: translate3d(0, 0, 1px);
		}
	}

	&-is {
		&-open {
			@include breakpoint("lg") {
				width: 100vw;
				height: 100vh;
				overflow: hidden;

				&::before {
					opacity: 1;
					visibility: visible;
				}

				& .header {
					backdrop-filter: unset;

					&-logo {
						z-index: 1001;
					}
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 3;
					width: 200%;
					height: 200%;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
	}

	&-inner {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	&-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0;
		margin: 0;
		padding: 0;
		list-style: none;

		@include breakpoint("lg") {
			flex-direction: column;
			align-items: flex-start;
			flex: 1;
			gap: 10px;
		}

		& li {
			// color: $default-text-color;
			text-decoration: none;
			transition: 0.25s ease-in-out;

			&>a {
				color: currentColor;
				text-decoration: none;
			}

			&:hover {
				// color: $default-primary-color;

				&>a {
					color: $default-primary-color;
					text-decoration: underline;
				}

				&+label {
					& i {
						color: $default-primary-color;
					}
				}
			}
		}

		&>li {
			// color: $default-text-color;
			margin: 0;

			@include break-up("lg") {
				padding: 10px 20px;
			}

			@include breakpoint("xxl") {
				padding: 10px;
			}

			@include breakpoint("lg") {
				padding: 0;
			}

			&>a {
				display: block;
				color: currentColor;
				overflow: hidden;

				@include breakpoint("lg") {
					padding: 10px 0;
				}
			}
		}
	}

	&-dropdown {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: row;

		@include break-up("lg") {
			border-radius: 10px 10px 0 0;
		}

		@include breakpoint("lg") {
			align-items: flex-start;
			flex-wrap: wrap;
			gap: 0 10px;
		}

		&>ul {
			position: absolute;
			top: 40px;
			left: 0;
			max-width: 360px;
			min-width: 300px;
			width: fit-content;
			min-height: 0px;
			max-height: 0px;
			padding: 20px;
			border-radius: 0 10px 10px 10px;
			background-color: $default-body-color;
			list-style: none;
			visibility: hidden;
			opacity: 0;
			overflow: hidden;
			transition: 0.25s ease-in-out;

			@include break-up('lg') {
				box-shadow: 0 0 0 1px $default-primary-color;
			}

			@include breakpoint("xxl") {
				padding: 10px;
			}

			@include breakpoint("lg") {
				position: relative;
				top: unset;
				left: unset;
				max-width: 100%;
				min-width: 100%;
				width: 100%;
				flex: 1;
				margin: 0;
				padding: 0;
			}

			&>li {
				margin: 0;
				padding: 0;

				&>a {
					display: block;
					padding: 5px 0;

					@include breakpoint('lg') {
						padding: 10px 0;
					}
				}

				&:first-child {
					&>a {
						padding-top: 0;
					}
				}

				&:last-child {
					&>a {
						padding-bottom: 0;
					}
				}
			}
		}

		& input[type="checkbox"] {
			display: none;

			&+label {
				display: flex;
				align-items: center;
				align-self: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				padding: 0;
				user-select: none;

				@include break-up("lg") {
					// display: none;
					width: 20px;
					height: 20px;
					margin-top: 0;
					padding-left: 5px;
					font-size: small;
					pointer-events: none;
					user-select: none;
				}

				& i {
					display: flex;
					align-items: center;
					align-self: center;
					justify-content: center;
					color: $default-text-color;
					padding: 0;
					transform-origin: center;
					transform: rotate(0deg);
					transition: 0.4s ease;
				}

				&::before,
				&::after {
					display: none;
				}
			}

			&:checked {
				&+label {
					& i {
						transform: rotate(180deg);
					}
				}

				&~ul {
					max-height: 1000px;
					padding: 10px 20px;
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translateY(0);
				}
			}
		}

		&:hover {
			@include break-up("lg") {
				background-color: $default-body-color;
				box-shadow: 0 0 0 1px $default-primary-color;

				& input[type="checkbox"] {
					&+label {
						& i {
							transform: rotate(180deg);
						}
					}
				}

				&>a {
					color: $default-primary-color;

					&~label {
						& i {
							color: $default-primary-color;
						}
					}
				}
			}

			&>a {
				color: $default-text-color;
				text-decoration: underline;
			}

			@include break-up("lg") {
				&>ul {
					min-height: 100%;
					max-height: 1000px;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}