:root {
	--modal-padding: 10px;
	--modal-dialog-padding: 15px;
	--modal-dialog-radius: 15px;

	@include break-up('lg') {
		--modal-padding: 20px;
		--modal-dialog-padding: 25px;
		--modal-dialog-radius: 30px;
	}
}

.modal {
	@include webkit_scrollbar;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1200;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--modal-padding);
	visibility: hidden;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	pointer-events: none;
	transition:
		opacity 0.4s ease-in-out,
		visibility 0.4s ease-in-out,
		background-color 0.4s ease-in-out,
		backdrop-filter 0.4s ease-in-out,
		filter 0.4s ease-in-out;
	will-change: transform, opacity;

	// для модалки
	&.show {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;

		& .modal-dialog {
			transform: scale(1) translateY(0%);
		}
	}

	// для <body>
	&-open {
		position: static;
		max-width: 100vw;
		max-height: 100vh;
		width: 100%;
		height: 100%;
		touch-action: none;
		overflow: hidden;
	}

	&-dialog {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 738px;
		height: auto;
		margin: auto;
		padding: var(--modal-dialog-padding);
		border-radius: var(--modal-dialog-radius);
		color: var(--default-text-color);
		background-color: var(--default-body-color);
		transform: scale(0.75) translateY(25%);
		transition: 0.4s ease;
		will-change: transform;
	}

	&-content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		gap: 15px;

		@include breakpoint("lg") {
			gap: 10px;
		}
	}

	& .btn-close {
		align-self: flex-start;
		z-index: 10;
		margin-left: auto;
		transform: translate(0, 0);
		@include button-outline-color($primary, $primary, $primary, $white);

		@include breakpoint("lg") {
			--btn-size: 35px;
		}

		& i {
			display: flex;
		}
	}

	&-title {
		@include h3;
		margin: 0;
		text-align: left;
	}

	&-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		gap: 10px;
	}

	&-footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		&>* {
			flex: 1;
		}
	}

	&-wider {
		& .modal-dialog {
			max-width: 900px;
		}
	}

	&-notify {
		& .modal-dialog {
			max-width: 320px;
			padding: 15px;
		}
	}

	&-min {
		& .modal-dialog {
			max-width: 500px;
		}
	}
}