@each $border, $value in $borders {
    .border-#{$value} {
        border-width: $border !important;
    }
}

@each $borderStyle, $value in $borderStyles {
    .border-#{$value} {
        border-style: $borderStyle !important;
    }
}

@each $color, $value in $colors {
    .border-#{$value} {
        border-color: rgba(var(--#{$value}-rgb), 1) !important;
    }
}
