.childrens-no-margin {
    > * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .text-content {
        > p:first-child {
            margin-top: 0 !important;
        }
    }
}
