@use "sass:math";
@use "./mixins";

// flexbox columns
.row {
    @include mixins.row;
    & > * {
        @include mixins.row-children;
    }
}

.col {
    flex: 1 0 0%;
    @for $i from 0 through 12 {
        &-#{$i} {
            flex: 0 0 auto;
            width: percentage(divide($i, 12)) !important;
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$i} {
                    flex: 0 0 auto;
                    width: percentage(divide($i, 12)) !important;
                }
            }
        }
    }
    @each $col, $value in $cols {
        &-#{$value} {
            flex: 0 0 auto;
            width: #{$col} !important;
        }
        @include breakpoint-xs {
            &-xs {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
        @include breakpoint-md {
            &-md {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                flex: 1 0 0%;
                &-#{$value} {
                    flex: 0 0 auto;
                    width: #{$col} !important;
                }
            }
        }
    }
}

.row-cols {
    @for $i from 1 through 6 {
        &-#{$i} {
            & > * {
                flex: 0 0 auto;
                width: calc(100% / #{$i}) !important;
            }
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$i} {
                    & > * {
                        flex: 0 0 auto;
                        width: calc(100% / #{$i}) !important;
                    }
                }
            }
        }
    }
    @each $row-col, $value in $row-cols {
        &-#{$value} {
            & > * {
                flex: 0 0 auto;
                width: #{$row-col} !important;
            }
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$value} {
                    & > * {
                        flex: 0 0 auto;
                        width: #{$row-col} !important;
                    }
                }
            }
        }
    }
}

.offset {
    @for $i from 1 through 11 {
        &-#{$i} {
            margin-left: percentage(divide($i, 12)) !important;
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$i} {
                    margin-left: percentage(divide($i, 12)) !important;
                }
            }
        }
    }
}

.g {
    @each $gutter, $value in $gutters {
        &-#{$value} {
            #{$prefix}-gutter-x: #{$gutter};
            #{$prefix}-gutter-y: #{$gutter};
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
    }
}

.gx {
    @each $gutter, $value in $gutters {
        &-#{$value} {
            #{$prefix}-gutter-x: #{$gutter};
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$value} {
                    #{$prefix}-gutter-x: #{$gutter};
                }
            }
        }
    }
}

.gy {
    @each $gutter, $value in $gutters {
        &-#{$value} {
            #{$prefix}-gutter-y: #{$gutter};
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$value} {
                    #{$prefix}-gutter-y: #{$gutter};
                }
            }
        }
    }
}
