:root {
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --dark-white: #fafafa;
  --dark-white-rgb: 250, 250, 250;
  --dark: #0e0e0e;
  --dark-rgb: 14, 14, 14;
  --light-grey: #f6f6f6;
  --light-grey-rgb: 246, 246, 246;
  --dark-grey: #2b2b2b;
  --dark-grey-rgb: 43, 43, 43;
  --grey: #dddddd;
  --grey-rgb: 221, 221, 221;
  --true-black: #000000;
  --true-black-rgb: 0, 0, 0;
  --black: #262122;
  --black-rgb: 38, 33, 34;
  --primary: #5144dd;
  --primary-rgb: 81, 68, 221;
  --cyan: #44fff4;
  --cyan-rgb: 68, 255, 244;
  --secondary: #9d9d9d;
  --secondary-rgb: 157, 157, 157;
  --success: #3eaf2e;
  --success-rgb: 62, 175, 46;
  --warning: #f24822;
  --warning-rgb: 242, 72, 33;
  --danger: #fccf19;
  --danger-rgb: 252, 207, 25;
  --orange: #ffa629;
  --orange-rgb: 255, 166, 41;
  --blue: #02a6e6;
  --blue-rgb: 2, 166, 230;
  --purple: #9747ff;
  --purple-rgb: 151, 71, 255;
  --vk: #0077ff;
  --vk-rgb: 0, 119, 255;
  --green: #65cb82;
  --green-rgb: 101, 203, 130;
  --red: #ec7a7a;
  --red-rgb: 236, 122, 122;

  --body-bg-color: var(--white-rgb);
  --body-text-color: var(--black-rgb);
}

$white: #ffffff;
$dark-white: #fafafa;
$grey: #eeeeee;
$dark: #0e0e0e;
$light-grey: #f6f6f6;
$dark-grey: #2b2b2b;
$normal-grey: #737373;
$green: #65cb82;
$dark-green: #092f39;
$cyan: #44fff4 !default;
$primary: #5144dd !default;
$secondary: #aaaaaa !default;
$success: #3eaf2e !default;
$warning: #f24822 !default;
$danger: #fccf19 !default;
$orange: #ffa629 !default;
$purple: #9747ff !default;
$blue: #02a6e6 !default;
$error: #ec7a7a;
$red: #ec7a7a;
$black: #000000;
$vk: #0077ff;
$transparent: transparent;

// exp
$colors: (
  $primary: "primary",
  $secondary: "secondary",
  $success: "success",
  $danger: "danger",
  $warning: "warning",
  $white: "white",
  $black: "black",
  $orange: "orange",
  $purple: "purple",
  $blue: "blue",
  $vk: "vk",
  $grey: "grey",
  $green: "green",
  $transparent: "transparent"
);

@each $color, $value in $colors {
  $color: $value;
}
