.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;

	@include custom-breakpoint(1700px) {
		width: 96%;
		padding: 0;
	}

	@include breakpoint("lg") {
		max-width: 100%;
		width: 100%;
		padding: 0 10px;
	}
}
