@each $dimension, $value in $dimensions {
    .w {
        &-#{$dimension} {
            width: #{$value};
        }
        @include breakpoint("breakpoint-xs") {
            &-xs {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-sm") {
            &-sm {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-md") {
            &-md {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-lg") {
            &-lg {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-xl") {
            &-xl {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-xxl") {
            &-xxl {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-xxxl") {
            &-xxxl {
                &-#{$dimension} {
                    width: #{$value} !important;
                }
            }
        }
    }
    .h {
        &-#{$dimension} {
            height: #{$value};
        }
        @include breakpoint("breakpoint-xs") {
            &-xs {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-sm") {
            &-sm {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-md") {
            &-md {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-lg") {
            &-lg {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-xl") {
            &-xl {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-xxl") {
            &-xxl {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
        @include breakpoint("breakpoint-xxxl") {
            &-xxxl {
                &-#{$dimension} {
                    height: #{$value} !important;
                }
            }
        }
    }
}
