.flex {
  &-row {
    flex-direction: row !important;
  }

  &-column {
    flex-direction: column !important;
  }

  &-wrap {
    flex-wrap: wrap !important;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  &-1 {
    flex: 1;
  }

  &-fill {
    flex: 1 0 0%;
  }

  &-fit {
    flex: 1 1 0%;
  }

  @each $breakpoint, $width in $breakpoints {
    @include break-up($breakpoint) {
      &-#{$breakpoint} {
        &-row {
          flex-direction: row !important;
        }

        &-column {
          flex-direction: column !important;
        }

        &-wrap {
          flex-wrap: wrap !important;
        }

        &-nowrap {
          flex-wrap: nowrap !important;
        }

        &-1 {
          flex: 1;
        }

        &-fill {
          flex: 1 0 0%;
        }

        &-fit {
          flex: 1 1 0%;
        }
      }
    }
  }
}

.align {
  &-self {
    &-start {
      align-self: flex-start !important;
    }

    &-end {
      align-self: flex-end !important;
    }

    &-center {
      align-self: center !important;
    }

    &-baseline {
      align-self: baseline !important;
    }

    &-stretch {
      align-self: stretch !important;
    }
  }

  &-items {
    &-start {
      align-items: flex-start !important;
    }

    &-end {
      align-items: flex-end !important;
    }

    &-center {
      align-items: center !important;
    }

    &-baseline {
      align-items: baseline !important;
    }

    &-stretch {
      align-items: stretch !important;
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include break-up($breakpoint) {
      &-self {
        &-#{$breakpoint} {
          &-start {
            align-self: flex-start !important;
          }

          &-end {
            align-self: flex-end !important;
          }

          &-center {
            align-self: center !important;
          }

          &-baseline {
            align-self: baseline !important;
          }

          &-stretch {
            align-self: stretch !important;
          }
        }
      }

      &-items {
        &-#{$breakpoint} {
          &-start {
            align-items: flex-start !important;
          }

          &-end {
            align-items: flex-end !important;
          }

          &-center {
            align-items: center !important;
          }

          &-baseline {
            align-items: baseline !important;
          }

          &-stretch {
            align-items: stretch !important;
          }
        }
      }
    }
  }
}

.justify {
  &-content {
    &-start {
      justify-content: flex-start !important;
    }

    &-center {
      justify-content: center !important;
    }

    &-end {
      justify-content: flex-end !important;
    }

    &-around {
      justify-content: space-around !important;
    }

    &-between {
      justify-content: space-between !important;
    }

    &-evenly {
      justify-content: space-evenly !important;
    }

    &-stretch {
      justify-content: stretch !important;
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include break-up($breakpoint) {
      &-#{$breakpoint} {
        &-content {
          &-start {
            justify-content: flex-start !important;
          }

          &-center {
            justify-content: center !important;
          }

          &-end {
            justify-content: flex-end !important;
          }

          &-around {
            justify-content: space-around !important;
          }

          &-between {
            justify-content: space-between !important;
          }

          &-evenly {
            justify-content: space-evenly !important;
          }

          &-stretch {
            justify-content: stretch !important;
          }
        }
      }
    }
  }
}
