// grids extend
:root {
    --layout-columns-count: 6;
    --layout-columns-gap: 6.4vw;
    --layout-margin: 4.2666666667vw;
    --layout-width: calc(100vw - (2 * var(--layout-margin)));
    --layout-column-width: calc(
        (var(--layout-width) - ((var(--layout-columns-count) - 1) * var(--layout-columns-gap))) /
            var(--layout-columns-count)
    );
    @media (min-width: 992px) {
        --layout-columns-count: 12;
        --layout-columns-gap: 1.6666666667vw;
        --layout-margin: 2.7777777778vw;
    }
}

.layout-block,
.layout-grid {
    max-width: var(--layout-width);
    margin-left: auto;
    margin-right: auto;
}

.layout-block-inner,
.layout-grid-inner {
    padding-left: var(--layout-margin);
    padding-right: var(--layout-margin);
}

.layout-grid,
.layout-grid-inner {
    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
}
