@import "./variables";

@mixin row {
    #{$prefix}-gutter-x: 1.5rem;
    #{$prefix}-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(#{$prefix}-gutter-y));
    margin-right: calc(-0.5 * var(#{$prefix}-gutter-x));
    margin-left: calc(-0.5 * var(#{$prefix}-gutter-x));
}

@mixin row-children {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(#{$prefix}-gutter-x) * 0.5);
    padding-left: calc(var(#{$prefix}-gutter-x) * 0.5);
    margin-top: var(#{$prefix}-gutter-y);
}

@mixin visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
