.object {
    &-fit {
        @each $object-fit, $value in $object-fits {
            &-#{$value} {
                object-fit: $object-fit !important;
            }
        }
    }
    &-position {
        @each $object-position, $value in $object-positions {
            &-#{$value} {
                object-position: #{$value} !important;
                @each $object-position, $key in $object-positions {
                    @if $value == $key {
                    } @else {
                        &-#{$key} {
                            object-position: #{$value} #{$key} !important;
                        }
                    }
                }
            }
        }
    }
}
