.overflow {
  @each $overflow, $value in $overflows {
    &-#{$value} {
      overflow: $value !important;
    }

    &-x {
      &-#{$value} {
        overflow-x: $value !important;
      }
    }

    &-y {
      &-#{$value} {
        overflow-y: $value !important;
      }
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include break-up($breakpoint) {
      &-#{$breakpoint} {
        @each $overflow, $value in $overflows {
          &-#{$value} {
            overflow: $value !important;
          }

          &-x {
            &-#{$value} {
              overflow-x: $value !important;
            }
          }

          &-y {
            &-#{$value} {
              overflow-y: $value !important;
            }
          }
        }
      }
    }
  }
}
