@each $overflow, $value in $overflows {
    .overflow {
        &-#{$value} {
            overflow: #{$value} !important;
        }
        &-x {
            &-#{$value} {
                overflow-x: #{$value} !important;
            }
        }
        &-y {
            &-#{$value} {
                overflow-y: #{$value} !important;
            }
        }
    }
}
