.p {
    @for $i from 0 through 12 {
        &-#{$i} {
            padding: divide($i, 4) + rem !important;
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$i} {
                    padding: divide($i, 4) + rem !important;
                }
            }
        }
        &t {
            &-#{$i} {
                padding-top: divide($i, 4) + rem !important;
            }
            @include breakpoint-xs {
                &-xs {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-sm {
                &-sm {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-md {
                &-md {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-lg {
                &-lg {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xl {
                &-xl {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxl {
                &-xxl {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxxl {
                &-xxxl {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                    }
                }
            }
        }
        &b {
            &-#{$i} {
                padding-bottom: divide($i, 4) + rem !important;
            }
            @include breakpoint-xs {
                &-xs {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-sm {
                &-sm {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-md {
                &-md {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-lg {
                &-lg {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xl {
                &-xl {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxl {
                &-xxl {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxxl {
                &-xxxl {
                    &-#{$i} {
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
        }
        &l {
            &-#{$i} {
                padding-left: divide($i, 4) + rem !important;
            }
            @include breakpoint-xs {
                &-xs {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-sm {
                &-sm {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-md {
                &-md {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-lg {
                &-lg {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xl {
                &-xl {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxl {
                &-xxl {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxxl {
                &-xxxl {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                    }
                }
            }
        }
        &r {
            &-#{$i} {
                padding-right: divide($i, 4) + rem !important;
            }
            @include breakpoint-xs {
                &-xs {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-sm {
                &-sm {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-md {
                &-md {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-lg {
                &-lg {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xl {
                &-xl {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxl {
                &-xxl {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxxl {
                &-xxxl {
                    &-#{$i} {
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
        }
        &y {
            &-#{$i} {
                padding-top: divide($i, 4) + rem !important;
                padding-bottom: divide($i, 4) + rem !important;
            }
            @include breakpoint-xs {
                &-xs {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-sm {
                &-sm {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-md {
                &-md {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-lg {
                &-lg {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xl {
                &-xl {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxl {
                &-xxl {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxxl {
                &-xxxl {
                    &-#{$i} {
                        padding-top: divide($i, 4) + rem !important;
                        padding-bottom: divide($i, 4) + rem !important;
                    }
                }
            }
        }
        &x {
            &-#{$i} {
                padding-left: divide($i, 4) + rem !important;
                padding-right: divide($i, 4) + rem !important;
            }
            @include breakpoint-xs {
                &-xs {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-sm {
                &-sm {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-md {
                &-md {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-lg {
                &-lg {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xl {
                &-xl {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxl {
                &-xxl {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
            @include breakpoint-xxxl {
                &-xxxl {
                    &-#{$i} {
                        padding-left: divide($i, 4) + rem !important;
                        padding-right: divide($i, 4) + rem !important;
                    }
                }
            }
        }
    }
}
