@each $position, $value in $positions {
    .position {
        &-#{$value} {
            position: #{$value} !important;
        }
        @include breakpoint-xs {
            &-xs {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
        @include breakpoint-sm {
            &-sm {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
        @include breakpoint-md {
            &-md {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
        @include breakpoint-lg {
            &-lg {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
        @include breakpoint-xl {
            &-xl {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
        @include breakpoint-xxl {
            &-xxl {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
        @include breakpoint-xxxl {
            &-xxxl {
                &-#{$value} {
                    position: #{$value} !important;
                }
            }
        }
    }
}

.sticky {
    @each $direction, $key in $directions {
        &-#{$key} {
            @for $i from 0 through 16 {
                &-#{$i} {
                    #{$key}: calc(#{$i}rem/ 2.5) !important;
                }
            }
        }
    }
}
