// responsive config
:root {
  font-size: calc(100vw / 375 * #{$root-fs});
  @media (min-width: 768px) {
    font-size: calc(100vw / 768 * #{$root-fs});
  }
  @media (min-width: 992px) {
    font-size: calc(100vw / 992 * #{$root-fs});
  }
  @media (min-width: 1200px) {
    font-size: calc(100vw / 1440 * #{$root-fs});
  }
  @media (min-width: 1440px) {
    font-size: calc(100vw / 1440 * #{$root-fs});
  }
  @media (min-width: 1600px) {
    font-size: calc(100vw / 1440 * #{$root-fs});
  }
  @media (min-width: 1920px) {
    font-size: calc(100vw / 1600 * #{$root-fs});
  }
}
