.rounded {
    #{$prefix}-border-radius: #{$rounded} !important;
    border-radius: var(#{$prefix}-border-radius) !important;
    @for $i from 0 through 10 {
        &-#{$i} {
            #{$prefix}-border-radius: calc(#{$i}rem / 4) !important;
            border-radius: var(#{$prefix}-border-radius) !important;
        }
    }
    @each $rounded, $value in $roundeds {
        &-#{$value} {
            #{$prefix}-border-radius: #{$rounded} !important;
            border-radius: var(#{$prefix}-border-radius) !important;
        }
    }
}
