// border-radius
.rounded {
    --cl-border-radius: 0.375rem;
    border-radius: var(--cl-border-radius) !important;

    &-0 {
        border-radius: 0 !important;
    }

    &-1 {
        --cl-border-radius-sm: 0.25rem;
        border-radius: var(--cl-border-radius-sm) !important;
    }

    &-2 {
        border-radius: var(--cl-border-radius) !important;
    }

    &-3 {
        --cl-border-radius-lg: 0.5rem;
        border-radius: var(--cl-border-radius-lg) !important;
    }

    &-4 {
        --cl-border-radius-xl: 1rem;
        border-radius: var(--cl-border-radius-xl) !important;
    }

    &-5 {
        --cl-border-radius-2xl: 2rem;
        border-radius: var(--cl-border-radius-2xl) !important;
    }

    &-circle {
        border-radius: 50% !important;
    }

    &-pill {
        --cl-border-radius-pill: 50rem;
        border-radius: var(--cl-border-radius-pill) !important;
    }

    &-top {
        border-top-left-radius: var(--cl-border-radius) !important;
        border-top-right-radius: var(--cl-border-radius) !important;
    }

    &-end {
        border-top-right-radius: var(--cl-border-radius) !important;
        border-bottom-right-radius: var(--cl-border-radius) !important;
    }

    &-bottom {
        border-bottom-right-radius: var(--cl-border-radius) !important;
        border-bottom-left-radius: var(--cl-border-radius) !important;
    }

    &-start {
        border-bottom-left-radius: var(--cl-border-radius) !important;
        border-top-left-radius: var(--cl-border-radius) !important;
    }
}
