.w {
    &-0 {
        width: 0 !important;
    }
    &-25 {
        width: 25% !important;
    }
    &-50 {
        width: 50% !important;
    }
    &-75 {
        width: 75% !important;
    }
    &-100 {
        width: 100% !important;
    }
    &-auto {
        width: auto !important;
    }
    &-fit {
        width: fit-content !important;
    }
    &-max {
        width: max-content !important;
    }
    &-min {
        width: min-content !important;
    }
    &-xs {
        @media screen and (max-width: 575.98px) {
            &-0 {
                width: 0 !important;
            }
            &-25 {
                width: 25% !important;
            }
            &-50 {
                width: 50% !important;
            }
            &-75 {
                width: 75% !important;
            }
            &-100 {
                width: 100% !important;
            }
            &-auto {
                width: auto !important;
            }
            &-fit {
                width: fit-content !important;
            }
            &-max {
                width: max-content !important;
            }
            &-min {
                width: min-content !important;
            }
        }
    }
    &-sm {
        @media (min-width: 576px) and (max-width: 767.98px) {
            &-0 {
                width: 0 !important;
            }
            &-25 {
                width: 25% !important;
            }
            &-50 {
                width: 50% !important;
            }
            &-75 {
                width: 75% !important;
            }
            &-100 {
                width: 100% !important;
            }
            &-auto {
                width: auto !important;
            }
            &-fit {
                width: fit-content !important;
            }
            &-max {
                width: max-content !important;
            }
            &-min {
                width: min-content !important;
            }
        }
    }
    &-md {
        @media (min-width: 768px) {
            &-0 {
                width: 0 !important;
            }
            &-25 {
                width: 25% !important;
            }
            &-50 {
                width: 50% !important;
            }
            &-75 {
                width: 75% !important;
            }
            &-100 {
                width: 100% !important;
            }
            &-auto {
                width: auto !important;
            }
            &-fit {
                width: fit-content !important;
            }
            &-max {
                width: max-content !important;
            }
            &-min {
                width: min-content !important;
            }
        }
    }
    &-lg {
        @media (min-width: 992px) {
            &-0 {
                width: 0 !important;
            }
            &-25 {
                width: 25% !important;
            }
            &-50 {
                width: 50% !important;
            }
            &-75 {
                width: 75% !important;
            }
            &-100 {
                width: 100% !important;
            }
            &-auto {
                width: auto !important;
            }
            &-fit {
                width: fit-content !important;
            }
            &-max {
                width: max-content !important;
            }
            &-min {
                width: min-content !important;
            }
        }
    }
    &-xl {
        @media (min-width: 1200px) {
            &-0 {
                width: 0 !important;
            }
            &-25 {
                width: 25% !important;
            }
            &-50 {
                width: 50% !important;
            }
            &-75 {
                width: 75% !important;
            }
            &-100 {
                width: 100% !important;
            }
            &-auto {
                width: auto !important;
            }
            &-fit {
                width: fit-content !important;
            }
            &-max {
                width: max-content !important;
            }
            &-min {
                width: min-content !important;
            }
        }
    }
    &-xxl {
        @media (min-width: 1440px) {
            &-0 {
                width: 0 !important;
            }
            &-25 {
                width: 25% !important;
            }
            &-50 {
                width: 50% !important;
            }
            &-75 {
                width: 75% !important;
            }
            &-100 {
                width: 100% !important;
            }
            &-auto {
                width: auto !important;
            }
            &-fit {
                width: fit-content !important;
            }
            &-max {
                width: max-content !important;
            }
            &-min {
                width: min-content !important;
            }
        }
    }
}

.h {
    &-0 {
        height: 0;
    }
    &-25 {
        height: 25%;
    }
    &-50 {
        height: 50%;
    }
    &-75 {
        height: 75%;
    }
    &-100 {
        height: 100%;
    }
    &-auto {
        width: auto !important;
    }
    &-fit {
        height: fit-content !important;
    }
    &-max {
        height: max-content !important;
    }
    &-min {
        height: min-content !important;
    }
    &-xs {
        @media screen and (max-width: 575.98px) {
            &-0 {
                height: 0;
            }
            &-25 {
                height: 25%;
            }
            &-50 {
                height: 50%;
            }
            &-75 {
                height: 75%;
            }
            &-100 {
                height: 100%;
            }
            &-fit {
                height: fit-content !important;
            }
            &-max {
                height: max-content !important;
            }
            &-min {
                height: min-content !important;
            }
        }
    }
    &-sm {
        @media (min-width: 576px) and (max-width: 767.98px) {
            &-0 {
                height: 0;
            }
            &-25 {
                height: 25%;
            }
            &-50 {
                height: 50%;
            }
            &-75 {
                height: 75%;
            }
            &-100 {
                height: 100%;
            }
            &-fit {
                height: fit-content !important;
            }
            &-max {
                height: max-content !important;
            }
            &-min {
                height: min-content !important;
            }
        }
    }
    &-md {
        @media (min-width: 768px) {
            &-0 {
                height: 0;
            }
            &-25 {
                height: 25%;
            }
            &-50 {
                height: 50%;
            }
            &-75 {
                height: 75%;
            }
            &-100 {
                height: 100%;
            }
            &-fit {
                height: fit-content !important;
            }
            &-max {
                height: max-content !important;
            }
            &-min {
                height: min-content !important;
            }
        }
    }
    &-lg {
        @media (min-width: 992px) {
            &-0 {
                height: 0;
            }
            &-25 {
                height: 25%;
            }
            &-50 {
                height: 50%;
            }
            &-75 {
                height: 75%;
            }
            &-100 {
                height: 100%;
            }
            &-fit {
                height: fit-content !important;
            }
            &-max {
                height: max-content !important;
            }
            &-min {
                height: min-content !important;
            }
        }
    }
    &-xl {
        @media (min-width: 1200px) {
            &-0 {
                height: 0;
            }
            &-25 {
                height: 25%;
            }
            &-50 {
                height: 50%;
            }
            &-75 {
                height: 75%;
            }
            &-100 {
                height: 100%;
            }
            &-fit {
                height: fit-content !important;
            }
            &-max {
                height: max-content !important;
            }
            &-min {
                height: min-content !important;
            }
        }
    }
    &-xxl {
        @media (min-width: 1440px) {
            &-0 {
                height: 0;
            }
            &-25 {
                height: 25%;
            }
            &-50 {
                height: 50%;
            }
            &-75 {
                height: 75%;
            }
            &-100 {
                height: 100%;
            }
            &-fit {
                height: fit-content !important;
            }
            &-max {
                height: max-content !important;
            }
            &-min {
                height: min-content !important;
            }
        }
    }
}
