@use "./functions";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.035rem;
}

h,
.h {
  &1 {
    font-size: 3.5rem;
  }
  &2 {
    font-size: 2.85rem;
  }
  &3 {
    font-size: 1.75rem;
  }
  &4 {
    font-size: 1.5rem;
  }
  &5 {
    font-size: 1.25rem;
  }
  &6 {
    font-size: 1rem;
  }
}

.text {
  @each $align, $value in $aligns {
    &-#{$value} {
      text-align: #{$value} !important;
    }
  }
}

@each $breakpointclass, $bpc in $breakpointclasses {
  @include breakpoint("breakpoint-#{$bpc}") {
    .text {
      &-#{$bpc} {
        @each $align, $value in $aligns {
          &-#{$value} {
            text-align: #{$value} !important;
          }
        }
      }
    }
  }
}

.fvp {
  @each $fv-position, $value in $fv-positions {
    &-#{$value} {
      font-variant-position: #{$value} !important;
    }
  }
}

@each $breakpointclass, $bpc in $breakpointclasses {
  @include breakpoint("breakpoint-#{$bpc}") {
    .fvp {
      &-#{$bpc} {
        @each $fv-position, $value in $fv-positions {
          &-#{$value} {
            font-variant-position: #{$value} !important;
          }
        }
      }
    }
  }
}

.fs {
  @each $size, $value in $sizes {
    &-#{$value} {
      font-size: $size !important;
    }
  }
}

@each $breakpointclass, $bpc in $breakpointclasses {
  @include breakpoint("breakpoint-#{$bpc}") {
    .fs {
      &-#{$bpc} {
        @each $size, $value in $sizes {
          &-#{$value} {
            font-size: $size !important;
          }
        }
      }
    }
  }
}

.ln {
  @each $lineHeight, $value in $lineHeights {
    &-#{$value} {
      line-height: #{$lineHeight} !important;
    }
  }
}

@each $breakpointclass, $bpc in $breakpointclasses {
  @include breakpoint("breakpoint-#{$bpc}") {
    .ln {
      &-#{$bpc} {
        @each $lineHeight, $value in $lineHeights {
          &-#{$value} {
            line-height: #{$lineHeight} !important;
          }
        }
      }
    }
  }
}

.fw {
  @each $weight, $value in $weights {
    &-#{$value} {
      font-weight: #{$value} !important;
    }
  }
}

@each $breakpointclass, $bpc in $breakpointclasses {
  @include breakpoint("breakpoint-#{$bpc}") {
    .fw {
      &-#{$bpc} {
        @each $weight, $value in $weights {
          &-#{$value} {
            font-weight: #{$value} !important;
          }
        }
      }
    }
  }
}

@each $color, $value in $colors {
  .text-#{$value} {
    color: rgba(var(--#{$value}-rgb), 1) !important;
    @each $opacity, $level in $opacities {
      &-#{$opacity} {
        color: rgba(var(--#{$value}-rgb), #{$level}) !important;
      }
    }
  }
}

// TODO: for text-muted var
[class^="text-muted"] {
  color: rgba(var(--secondary-rgb), 1);
}
