// prefix
$prefix: "--cl";
// prefix

// default font-size for responsive
$root-fs: 16;
// default font-size for responsive

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;
// Breakpoints

// responsive
$r-xs: 375;
$r-sm: 576;
$r-md: 768;
$r-lg: 992;
$r-xl: 1440;
$r-xxxl: 1600;

$responsives: (
    $r-xs: 375,
    $r-sm: 576,
    $r-md: 768,
    $r-lg: 992,
    $r-xl: 1440,
    $r-xxxl: 1600
);
// responsive

// borders
$border-1: 0.0625rem;
$border-2: 0.125rem;
$border-3: 0.25rem;

$borders: (
    $border-1: "1",
    $border-2: "2",
    $border-3: "3"
);

$border-none: none;
$border-solid: solid;
$border-dotted: dotted;
$border-dashed: dashed;
$border-double: double;

$borderStyles: (
    $border-none: "none",
    $border-solid: "solid",
    $border-dotted: "dotted",
    $border-dashed: "dashed",
    $border-double: "double"
);
// borders

// cols
$col-auto: auto;

$cols: (
    $col-auto: "auto"
);

$row-col-auto: auto;

$row-cols: (
    $row-col-auto: "auto"
);

$gutter-0: 0rem;
$gutter-1: 0.25rem;
$gutter-2: 0.5rem;
$gutter-3: 1rem;
$gutter-4: 1.5rem;
$gutter-5: 3rem;

$gutters: (
    $gutter-0: "0",
    $gutter-1: "1",
    $gutter-2: "2",
    $gutter-3: "3",
    $gutter-4: "4",
    $gutter-5: "5"
);
// cols

// dimensions
$dimension-0: 0;
$dimension-5: 5;
$dimension-10: 10;
$dimension-15: 15;
$dimension-20: 20;
$dimension-25: 25;
$dimension-30: 30;
$dimension-35: 35;
$dimension-40: 40;
$dimension-45: 45;
$dimension-50: 50;
$dimension-55: 55;
$dimension-60: 60;
$dimension-65: 65;
$dimension-70: 70;
$dimension-75: 75;
$dimension-80: 80;
$dimension-85: 85;
$dimension-90: 90;
$dimension-95: 95;
$dimension-100: 100;
$dimension-auto: auto;
$dimension-fit: fit;
$dimension-fill: fill;
$dimension-min: min;
$dimension-max: max;

$dimensions: (
    $dimension-0: 0%,
    $dimension-5: 5%,
    $dimension-10: 10%,
    $dimension-15: 15%,
    $dimension-20: 20%,
    $dimension-25: 25%,
    $dimension-30: 30%,
    $dimension-35: 35%,
    $dimension-40: 40%,
    $dimension-45: 45%,
    $dimension-50: 50%,
    $dimension-55: 55%,
    $dimension-60: 60%,
    $dimension-65: 65%,
    $dimension-70: 70%,
    $dimension-75: 75%,
    $dimension-80: 80%,
    $dimension-85: 85%,
    $dimension-90: 90%,
    $dimension-95: 95%,
    $dimension-100: 100%,
    $dimension-auto: auto,
    $dimension-fit: fit-content,
    $dimension-fill: fill-available,
    $dimension-min: min-content,
    $dimension-max: max-content
);
// dimensions

// display
$display-block: block;
$display-inline: inline;
$display-inline-block: inline-block;
$display-flex: flex;
$display-inline-flex: inline-flex;
$display-grid: grid;
$display-inline-grid: inline-grid;
$display-list: list;
$display-table: table;
$display-table-row: table-row;
$display-table-cell: table-cell;
$display-none: none;

$displays: (
    $display-block: "block",
    $display-inline: "inline",
    $display-inline-block: "inline-block",
    $display-flex: "flex",
    $display-inline-flex: "inline-flex",
    $display-grid: "grid",
    $display-inline-grid: "inline-grid",
    $display-list: "list",
    $display-table: "table",
    $display-table-row: "table-row",
    $display-table-cell: "table-cell",
    $display-none: "none"
);
// display

// positions
$position-absolute: absolute;
$position-relative: relative;
$position-fixed: fixed;
$position-sticky: sticky;
$position-static: static;
$position-unset: unset;

$positions: (
    $position-absolute: "absolute",
    $position-relative: "relative",
    $position-fixed: "fixed",
    $position-sticky: "sticky",
    $position-static: "static",
    $position-unset: "unset"
);
// positions

// directions
$direction-top: top;
$direction-left: left;
$direction-right: right;
$direction-bottom: bottom;

$directions: (
    $direction-top: "top",
    $direction-left: "left",
    $direction-right: "right",
    $direction-bottom: "bottom"
);
// directions

// icons
$icomoon-font-family: "clawicons" !default;
$icomoon-font-path: "fonts" !default;

$cl-icon-home: unquote('"\\e900"');
$cl-icon-home2: unquote('"\\e901"');
$cl-icon-home3: unquote('"\\e902"');
$cl-icon-office: unquote('"\\e903"');
$cl-icon-newspaper: unquote('"\\e904"');
$cl-icon-pencil: unquote('"\\e905"');
$cl-icon-pencil2: unquote('"\\e906"');
$cl-icon-quill: unquote('"\\e907"');
$cl-icon-pen: unquote('"\\e908"');
$cl-icon-blog: unquote('"\\e909"');
$cl-icon-eyedropper: unquote('"\\e90a"');
$cl-icon-droplet: unquote('"\\e90b"');
$cl-icon-paint-format: unquote('"\\e90c"');
$cl-icon-image: unquote('"\\e90d"');
$cl-icon-images: unquote('"\\e90e"');
$cl-icon-camera: unquote('"\\e90f"');
$cl-icon-headphones: unquote('"\\e910"');
$cl-icon-music: unquote('"\\e911"');
$cl-icon-play: unquote('"\\e912"');
$cl-icon-film: unquote('"\\e913"');
$cl-icon-video-camera: unquote('"\\e914"');
$cl-icon-dice: unquote('"\\e915"');
$cl-icon-pacman: unquote('"\\e916"');
$cl-icon-spades: unquote('"\\e917"');
$cl-icon-clubs: unquote('"\\e918"');
$cl-icon-diamonds: unquote('"\\e919"');
$cl-icon-bullhorn: unquote('"\\e91a"');
$cl-icon-connection: unquote('"\\e91b"');
$cl-icon-podcast: unquote('"\\e91c"');
$cl-icon-feed: unquote('"\\e91d"');
$cl-icon-mic: unquote('"\\e91e"');
$cl-icon-book: unquote('"\\e91f"');
$cl-icon-books: unquote('"\\e920"');
$cl-icon-library: unquote('"\\e921"');
$cl-icon-file-text: unquote('"\\e922"');
$cl-icon-profile: unquote('"\\e923"');
$cl-icon-file-empty: unquote('"\\e924"');
$cl-icon-files-empty: unquote('"\\e925"');
$cl-icon-file-text2: unquote('"\\e926"');
$cl-icon-file-picture: unquote('"\\e927"');
$cl-icon-file-music: unquote('"\\e928"');
$cl-icon-file-play: unquote('"\\e929"');
$cl-icon-file-video: unquote('"\\e92a"');
$cl-icon-file-zip: unquote('"\\e92b"');
$cl-icon-copy: unquote('"\\e92c"');
$cl-icon-paste: unquote('"\\e92d"');
$cl-icon-stack: unquote('"\\e92e"');
$cl-icon-folder: unquote('"\\e92f"');
$cl-icon-folder-open: unquote('"\\e930"');
$cl-icon-folder-plus: unquote('"\\e931"');
$cl-icon-folder-minus: unquote('"\\e932"');
$cl-icon-folder-download: unquote('"\\e933"');
$cl-icon-folder-upload: unquote('"\\e934"');
$cl-icon-price-tag: unquote('"\\e935"');
$cl-icon-price-tags: unquote('"\\e936"');
$cl-icon-barcode: unquote('"\\e937"');
$cl-icon-qrcode: unquote('"\\e938"');
$cl-icon-ticket: unquote('"\\e939"');
$cl-icon-cart: unquote('"\\e93a"');
$cl-icon-coin-dollar: unquote('"\\e93b"');
$cl-icon-coin-euro: unquote('"\\e93c"');
$cl-icon-coin-pound: unquote('"\\e93d"');
$cl-icon-coin-yen: unquote('"\\e93e"');
$cl-icon-credit-card: unquote('"\\e93f"');
$cl-icon-calculator: unquote('"\\e940"');
$cl-icon-lifebuoy: unquote('"\\e941"');
$cl-icon-phone: unquote('"\\e942"');
$cl-icon-phone-hang-up: unquote('"\\e943"');
$cl-icon-address-book: unquote('"\\e944"');
$cl-icon-envelop: unquote('"\\e945"');
$cl-icon-pushpin: unquote('"\\e946"');
$cl-icon-location: unquote('"\\e947"');
$cl-icon-location2: unquote('"\\e948"');
$cl-icon-compass: unquote('"\\e949"');
$cl-icon-compass2: unquote('"\\e94a"');
$cl-icon-map: unquote('"\\e94b"');
$cl-icon-map2: unquote('"\\e94c"');
$cl-icon-history: unquote('"\\e94d"');
$cl-icon-clock: unquote('"\\e94e"');
$cl-icon-clock2: unquote('"\\e94f"');
$cl-icon-alarm: unquote('"\\e950"');
$cl-icon-bell: unquote('"\\e951"');
$cl-icon-stopwatch: unquote('"\\e952"');
$cl-icon-calendar: unquote('"\\e953"');
$cl-icon-printer: unquote('"\\e954"');
$cl-icon-keyboard: unquote('"\\e955"');
$cl-icon-display: unquote('"\\e956"');
$cl-icon-laptop: unquote('"\\e957"');
$cl-icon-mobile: unquote('"\\e958"');
$cl-icon-mobile2: unquote('"\\e959"');
$cl-icon-tablet: unquote('"\\e95a"');
$cl-icon-tv: unquote('"\\e95b"');
$cl-icon-drawer: unquote('"\\e95c"');
$cl-icon-drawer2: unquote('"\\e95d"');
$cl-icon-box-add: unquote('"\\e95e"');
$cl-icon-box-remove: unquote('"\\e95f"');
$cl-icon-download: unquote('"\\e960"');
$cl-icon-upload: unquote('"\\e961"');
$cl-icon-floppy-disk: unquote('"\\e962"');
$cl-icon-drive: unquote('"\\e963"');
$cl-icon-database: unquote('"\\e964"');
$cl-icon-undo: unquote('"\\e965"');
$cl-icon-redo: unquote('"\\e966"');
$cl-icon-undo2: unquote('"\\e967"');
$cl-icon-redo2: unquote('"\\e968"');
$cl-icon-forward: unquote('"\\e969"');
$cl-icon-reply: unquote('"\\e96a"');
$cl-icon-bubble: unquote('"\\e96b"');
$cl-icon-bubbles: unquote('"\\e96c"');
$cl-icon-bubbles2: unquote('"\\e96d"');
$cl-icon-bubble2: unquote('"\\e96e"');
$cl-icon-bubbles3: unquote('"\\e96f"');
$cl-icon-bubbles4: unquote('"\\e970"');
$cl-icon-user: unquote('"\\e971"');
$cl-icon-users: unquote('"\\e972"');
$cl-icon-user-plus: unquote('"\\e973"');
$cl-icon-user-minus: unquote('"\\e974"');
$cl-icon-user-check: unquote('"\\e975"');
$cl-icon-user-tie: unquote('"\\e976"');
$cl-icon-quotes-left: unquote('"\\e977"');
$cl-icon-quotes-right: unquote('"\\e978"');
$cl-icon-hour-glass: unquote('"\\e979"');
$cl-icon-spinner: unquote('"\\e97a"');
$cl-icon-spinner2: unquote('"\\e97b"');
$cl-icon-spinner3: unquote('"\\e97c"');
$cl-icon-spinner4: unquote('"\\e97d"');
$cl-icon-spinner5: unquote('"\\e97e"');
$cl-icon-spinner6: unquote('"\\e97f"');
$cl-icon-spinner7: unquote('"\\e980"');
$cl-icon-spinner8: unquote('"\\e981"');
$cl-icon-spinner9: unquote('"\\e982"');
$cl-icon-spinner10: unquote('"\\e983"');
$cl-icon-spinner11: unquote('"\\e984"');
$cl-icon-binoculars: unquote('"\\e985"');
$cl-icon-search: unquote('"\\e986"');
$cl-icon-zoom-in: unquote('"\\e987"');
$cl-icon-zoom-out: unquote('"\\e988"');
$cl-icon-enlarge: unquote('"\\e989"');
$cl-icon-shrink: unquote('"\\e98a"');
$cl-icon-enlarge2: unquote('"\\e98b"');
$cl-icon-shrink2: unquote('"\\e98c"');
$cl-icon-key: unquote('"\\e98d"');
$cl-icon-key2: unquote('"\\e98e"');
$cl-icon-lock: unquote('"\\e98f"');
$cl-icon-unlocked: unquote('"\\e990"');
$cl-icon-wrench: unquote('"\\e991"');
$cl-icon-equalizer: unquote('"\\e992"');
$cl-icon-equalizer2: unquote('"\\e993"');
$cl-icon-cog: unquote('"\\e994"');
$cl-icon-cogs: unquote('"\\e995"');
$cl-icon-hammer: unquote('"\\e996"');
$cl-icon-magic-wand: unquote('"\\e997"');
$cl-icon-aid-kit: unquote('"\\e998"');
$cl-icon-bug: unquote('"\\e999"');
$cl-icon-pie-chart: unquote('"\\e99a"');
$cl-icon-stats-dots: unquote('"\\e99b"');
$cl-icon-stats-bars: unquote('"\\e99c"');
$cl-icon-stats-bars2: unquote('"\\e99d"');
$cl-icon-trophy: unquote('"\\e99e"');
$cl-icon-gift: unquote('"\\e99f"');
$cl-icon-glass: unquote('"\\e9a0"');
$cl-icon-glass2: unquote('"\\e9a1"');
$cl-icon-mug: unquote('"\\e9a2"');
$cl-icon-spoon-knife: unquote('"\\e9a3"');
$cl-icon-leaf: unquote('"\\e9a4"');
$cl-icon-rocket: unquote('"\\e9a5"');
$cl-icon-meter: unquote('"\\e9a6"');
$cl-icon-meter2: unquote('"\\e9a7"');
$cl-icon-hammer2: unquote('"\\e9a8"');
$cl-icon-fire: unquote('"\\e9a9"');
$cl-icon-lab: unquote('"\\e9aa"');
$cl-icon-magnet: unquote('"\\e9ab"');
$cl-icon-bin: unquote('"\\e9ac"');
$cl-icon-bin2: unquote('"\\e9ad"');
$cl-icon-briefcase: unquote('"\\e9ae"');
$cl-icon-airplane: unquote('"\\e9af"');
$cl-icon-truck: unquote('"\\e9b0"');
$cl-icon-road: unquote('"\\e9b1"');
$cl-icon-accessibility: unquote('"\\e9b2"');
$cl-icon-target: unquote('"\\e9b3"');
$cl-icon-shield: unquote('"\\e9b4"');
$cl-icon-power: unquote('"\\e9b5"');
$cl-icon-switch: unquote('"\\e9b6"');
$cl-icon-power-cord: unquote('"\\e9b7"');
$cl-icon-clipboard: unquote('"\\e9b8"');
$cl-icon-list-numbered: unquote('"\\e9b9"');
$cl-icon-list: unquote('"\\e9ba"');
$cl-icon-list2: unquote('"\\e9bb"');
$cl-icon-tree: unquote('"\\e9bc"');
$cl-icon-menu: unquote('"\\e9bd"');
$cl-icon-menu2: unquote('"\\e9be"');
$cl-icon-menu3: unquote('"\\e9bf"');
$cl-icon-menu4: unquote('"\\e9c0"');
$cl-icon-cloud: unquote('"\\e9c1"');
$cl-icon-cloud-download: unquote('"\\e9c2"');
$cl-icon-cloud-upload: unquote('"\\e9c3"');
$cl-icon-cloud-check: unquote('"\\e9c4"');
$cl-icon-download2: unquote('"\\e9c5"');
$cl-icon-upload2: unquote('"\\e9c6"');
$cl-icon-download3: unquote('"\\e9c7"');
$cl-icon-upload3: unquote('"\\e9c8"');
$cl-icon-sphere: unquote('"\\e9c9"');
$cl-icon-earth: unquote('"\\e9ca"');
$cl-icon-link: unquote('"\\e9cb"');
$cl-icon-flag: unquote('"\\e9cc"');
$cl-icon-attachment: unquote('"\\e9cd"');
$cl-icon-eye: unquote('"\\e9ce"');
$cl-icon-eye-plus: unquote('"\\e9cf"');
$cl-icon-eye-minus: unquote('"\\e9d0"');
$cl-icon-eye-blocked: unquote('"\\e9d1"');
$cl-icon-bookmark: unquote('"\\e9d2"');
$cl-icon-bookmarks: unquote('"\\e9d3"');
$cl-icon-sun: unquote('"\\e9d4"');
$cl-icon-contrast: unquote('"\\e9d5"');
$cl-icon-brightness-contrast: unquote('"\\e9d6"');
$cl-icon-star-empty: unquote('"\\e9d7"');
$cl-icon-star-half: unquote('"\\e9d8"');
$cl-icon-star-full: unquote('"\\e9d9"');
$cl-icon-heart: unquote('"\\e9da"');
$cl-icon-heart-broken: unquote('"\\e9db"');
$cl-icon-man: unquote('"\\e9dc"');
$cl-icon-woman: unquote('"\\e9dd"');
$cl-icon-man-woman: unquote('"\\e9de"');
$cl-icon-happy: unquote('"\\e9df"');
$cl-icon-happy2: unquote('"\\e9e0"');
$cl-icon-smile: unquote('"\\e9e1"');
$cl-icon-smile2: unquote('"\\e9e2"');
$cl-icon-tongue: unquote('"\\e9e3"');
$cl-icon-tongue2: unquote('"\\e9e4"');
$cl-icon-sad: unquote('"\\e9e5"');
$cl-icon-sad2: unquote('"\\e9e6"');
$cl-icon-wink: unquote('"\\e9e7"');
$cl-icon-wink2: unquote('"\\e9e8"');
$cl-icon-grin: unquote('"\\e9e9"');
$cl-icon-grin2: unquote('"\\e9ea"');
$cl-icon-cool: unquote('"\\e9eb"');
$cl-icon-cool2: unquote('"\\e9ec"');
$cl-icon-angry: unquote('"\\e9ed"');
$cl-icon-angry2: unquote('"\\e9ee"');
$cl-icon-evil: unquote('"\\e9ef"');
$cl-icon-evil2: unquote('"\\e9f0"');
$cl-icon-shocked: unquote('"\\e9f1"');
$cl-icon-shocked2: unquote('"\\e9f2"');
$cl-icon-baffled: unquote('"\\e9f3"');
$cl-icon-baffled2: unquote('"\\e9f4"');
$cl-icon-confused: unquote('"\\e9f5"');
$cl-icon-confused2: unquote('"\\e9f6"');
$cl-icon-neutral: unquote('"\\e9f7"');
$cl-icon-neutral2: unquote('"\\e9f8"');
$cl-icon-hipster: unquote('"\\e9f9"');
$cl-icon-hipster2: unquote('"\\e9fa"');
$cl-icon-wondering: unquote('"\\e9fb"');
$cl-icon-wondering2: unquote('"\\e9fc"');
$cl-icon-sleepy: unquote('"\\e9fd"');
$cl-icon-sleepy2: unquote('"\\e9fe"');
$cl-icon-frustrated: unquote('"\\e9ff"');
$cl-icon-frustrated2: unquote('"\\ea00"');
$cl-icon-crying: unquote('"\\ea01"');
$cl-icon-crying2: unquote('"\\ea02"');
$cl-icon-point-up: unquote('"\\ea03"');
$cl-icon-point-right: unquote('"\\ea04"');
$cl-icon-point-down: unquote('"\\ea05"');
$cl-icon-point-left: unquote('"\\ea06"');
$cl-icon-warning: unquote('"\\ea07"');
$cl-icon-notification: unquote('"\\ea08"');
$cl-icon-question: unquote('"\\ea09"');
$cl-icon-plus: unquote('"\\ea0a"');
$cl-icon-minus: unquote('"\\ea0b"');
$cl-icon-info: unquote('"\\ea0c"');
$cl-icon-cancel-circle: unquote('"\\ea0d"');
$cl-icon-blocked: unquote('"\\ea0e"');
$cl-icon-cross: unquote('"\\ea0f"');
$cl-icon-checkmark: unquote('"\\ea10"');
$cl-icon-checkmark2: unquote('"\\ea11"');
$cl-icon-spell-check: unquote('"\\ea12"');
$cl-icon-enter: unquote('"\\ea13"');
$cl-icon-exit: unquote('"\\ea14"');
$cl-icon-play2: unquote('"\\ea15"');
$cl-icon-pause: unquote('"\\ea16"');
$cl-icon-stop: unquote('"\\ea17"');
$cl-icon-previous: unquote('"\\ea18"');
$cl-icon-next: unquote('"\\ea19"');
$cl-icon-backward: unquote('"\\ea1a"');
$cl-icon-forward2: unquote('"\\ea1b"');
$cl-icon-play3: unquote('"\\ea1c"');
$cl-icon-pause2: unquote('"\\ea1d"');
$cl-icon-stop2: unquote('"\\ea1e"');
$cl-icon-backward2: unquote('"\\ea1f"');
$cl-icon-forward3: unquote('"\\ea20"');
$cl-icon-first: unquote('"\\ea21"');
$cl-icon-last: unquote('"\\ea22"');
$cl-icon-previous2: unquote('"\\ea23"');
$cl-icon-next2: unquote('"\\ea24"');
$cl-icon-eject: unquote('"\\ea25"');
$cl-icon-volume-high: unquote('"\\ea26"');
$cl-icon-volume-medium: unquote('"\\ea27"');
$cl-icon-volume-low: unquote('"\\ea28"');
$cl-icon-volume-mute: unquote('"\\ea29"');
$cl-icon-volume-mute2: unquote('"\\ea2a"');
$cl-icon-volume-increase: unquote('"\\ea2b"');
$cl-icon-volume-decrease: unquote('"\\ea2c"');
$cl-icon-loop: unquote('"\\ea2d"');
$cl-icon-loop2: unquote('"\\ea2e"');
$cl-icon-infinite: unquote('"\\ea2f"');
$cl-icon-shuffle: unquote('"\\ea30"');
$cl-icon-arrow-up-left: unquote('"\\ea31"');
$cl-icon-arrow-up: unquote('"\\ea32"');
$cl-icon-arrow-up-right: unquote('"\\ea33"');
$cl-icon-arrow-right: unquote('"\\ea34"');
$cl-icon-arrow-down-right: unquote('"\\ea35"');
$cl-icon-arrow-down: unquote('"\\ea36"');
$cl-icon-arrow-down-left: unquote('"\\ea37"');
$cl-icon-arrow-left: unquote('"\\ea38"');
$cl-icon-arrow-up-left2: unquote('"\\ea39"');
$cl-icon-arrow-up2: unquote('"\\ea3a"');
$cl-icon-arrow-up-right2: unquote('"\\ea3b"');
$cl-icon-arrow-right2: unquote('"\\ea3c"');
$cl-icon-arrow-down-right2: unquote('"\\ea3d"');
$cl-icon-arrow-down2: unquote('"\\ea3e"');
$cl-icon-arrow-down-left2: unquote('"\\ea3f"');
$cl-icon-arrow-left2: unquote('"\\ea40"');
$cl-icon-circle-up: unquote('"\\ea41"');
$cl-icon-circle-right: unquote('"\\ea42"');
$cl-icon-circle-down: unquote('"\\ea43"');
$cl-icon-circle-left: unquote('"\\ea44"');
$cl-icon-tab: unquote('"\\ea45"');
$cl-icon-move-up: unquote('"\\ea46"');
$cl-icon-move-down: unquote('"\\ea47"');
$cl-icon-sort-alpha-asc: unquote('"\\ea48"');
$cl-icon-sort-alpha-desc: unquote('"\\ea49"');
$cl-icon-sort-numeric-asc: unquote('"\\ea4a"');
$cl-icon-sort-numberic-desc: unquote('"\\ea4b"');
$cl-icon-sort-amount-asc: unquote('"\\ea4c"');
$cl-icon-sort-amount-desc: unquote('"\\ea4d"');
$cl-icon-command: unquote('"\\ea4e"');
$cl-icon-shift: unquote('"\\ea4f"');
$cl-icon-ctrl: unquote('"\\ea50"');
$cl-icon-opt: unquote('"\\ea51"');
$cl-icon-checkbox-checked: unquote('"\\ea52"');
$cl-icon-checkbox-unchecked: unquote('"\\ea53"');
$cl-icon-radio-checked: unquote('"\\ea54"');
$cl-icon-radio-checked2: unquote('"\\ea55"');
$cl-icon-radio-unchecked: unquote('"\\ea56"');
$cl-icon-crop: unquote('"\\ea57"');
$cl-icon-make-group: unquote('"\\ea58"');
$cl-icon-ungroup: unquote('"\\ea59"');
$cl-icon-scissors: unquote('"\\ea5a"');
$cl-icon-filter: unquote('"\\ea5b"');
$cl-icon-font: unquote('"\\ea5c"');
$cl-icon-ligature: unquote('"\\ea5d"');
$cl-icon-ligature2: unquote('"\\ea5e"');
$cl-icon-text-height: unquote('"\\ea5f"');
$cl-icon-text-width: unquote('"\\ea60"');
$cl-icon-font-size: unquote('"\\ea61"');
$cl-icon-bold: unquote('"\\ea62"');
$cl-icon-underline: unquote('"\\ea63"');
$cl-icon-italic: unquote('"\\ea64"');
$cl-icon-strikethrough: unquote('"\\ea65"');
$cl-icon-omega: unquote('"\\ea66"');
$cl-icon-sigma: unquote('"\\ea67"');
$cl-icon-page-break: unquote('"\\ea68"');
$cl-icon-superscript: unquote('"\\ea69"');
$cl-icon-subscript: unquote('"\\ea6a"');
$cl-icon-superscript2: unquote('"\\ea6b"');
$cl-icon-subscript2: unquote('"\\ea6c"');
$cl-icon-text-color: unquote('"\\ea6d"');
$cl-icon-pagebreak: unquote('"\\ea6e"');
$cl-icon-clear-formatting: unquote('"\\ea6f"');
$cl-icon-table: unquote('"\\ea70"');
$cl-icon-table2: unquote('"\\ea71"');
$cl-icon-insert-template: unquote('"\\ea72"');
$cl-icon-pilcrow: unquote('"\\ea73"');
$cl-icon-ltr: unquote('"\\ea74"');
$cl-icon-rtl: unquote('"\\ea75"');
$cl-icon-section: unquote('"\\ea76"');
$cl-icon-paragraph-left: unquote('"\\ea77"');
$cl-icon-paragraph-center: unquote('"\\ea78"');
$cl-icon-paragraph-right: unquote('"\\ea79"');
$cl-icon-paragraph-justify: unquote('"\\ea7a"');
$cl-icon-indent-increase: unquote('"\\ea7b"');
$cl-icon-indent-decrease: unquote('"\\ea7c"');
$cl-icon-share: unquote('"\\ea7d"');
$cl-icon-new-tab: unquote('"\\ea7e"');
$cl-icon-embed: unquote('"\\ea7f"');
$cl-icon-embed2: unquote('"\\ea80"');
$cl-icon-terminal: unquote('"\\ea81"');
$cl-icon-share2: unquote('"\\ea82"');
$cl-icon-mail: unquote('"\\ea83"');
$cl-icon-mail2: unquote('"\\ea84"');
$cl-icon-mail3: unquote('"\\ea85"');
$cl-icon-mail4: unquote('"\\ea86"');
$cl-icon-amazon: unquote('"\\ea87"');
$cl-icon-google: unquote('"\\ea88"');
$cl-icon-google2: unquote('"\\ea89"');
$cl-icon-google3: unquote('"\\ea8a"');
$cl-icon-google-plus: unquote('"\\ea8b"');
$cl-icon-google-plus2: unquote('"\\ea8c"');
$cl-icon-google-plus3: unquote('"\\ea8d"');
$cl-icon-hangouts: unquote('"\\ea8e"');
$cl-icon-google-drive: unquote('"\\ea8f"');
$cl-icon-facebook: unquote('"\\ea90"');
$cl-icon-facebook2: unquote('"\\ea91"');
$cl-icon-instagram: unquote('"\\ea92"');
$cl-icon-whatsapp: unquote('"\\ea93"');
$cl-icon-spotify: unquote('"\\ea94"');
$cl-icon-telegram: unquote('"\\ea95"');
$cl-icon-twitter: unquote('"\\ea96"');
$cl-icon-vine: unquote('"\\ea97"');
$cl-icon-vk: unquote('"\\ea98"');
$cl-icon-renren: unquote('"\\ea99"');
$cl-icon-sina-weibo: unquote('"\\ea9a"');
$cl-icon-rss: unquote('"\\ea9b"');
$cl-icon-rss2: unquote('"\\ea9c"');
$cl-icon-youtube: unquote('"\\ea9d"');
$cl-icon-youtube2: unquote('"\\ea9e"');
$cl-icon-twitch: unquote('"\\ea9f"');
$cl-icon-vimeo: unquote('"\\eaa0"');
$cl-icon-vimeo2: unquote('"\\eaa1"');
$cl-icon-lanyrd: unquote('"\\eaa2"');
$cl-icon-flickr: unquote('"\\eaa3"');
$cl-icon-flickr2: unquote('"\\eaa4"');
$cl-icon-flickr3: unquote('"\\eaa5"');
$cl-icon-flickr4: unquote('"\\eaa6"');
$cl-icon-dribbble: unquote('"\\eaa7"');
$cl-icon-behance: unquote('"\\eaa8"');
$cl-icon-behance2: unquote('"\\eaa9"');
$cl-icon-deviantart: unquote('"\\eaaa"');
$cl-icon-500px: unquote('"\\eaab"');
$cl-icon-steam: unquote('"\\eaac"');
$cl-icon-steam2: unquote('"\\eaad"');
$cl-icon-dropbox: unquote('"\\eaae"');
$cl-icon-onedrive: unquote('"\\eaaf"');
$cl-icon-github: unquote('"\\eab0"');
$cl-icon-npm: unquote('"\\eab1"');
$cl-icon-basecamp: unquote('"\\eab2"');
$cl-icon-trello: unquote('"\\eab3"');
$cl-icon-wordpress: unquote('"\\eab4"');
$cl-icon-joomla: unquote('"\\eab5"');
$cl-icon-ello: unquote('"\\eab6"');
$cl-icon-blogger: unquote('"\\eab7"');
$cl-icon-blogger2: unquote('"\\eab8"');
$cl-icon-tumblr: unquote('"\\eab9"');
$cl-icon-tumblr2: unquote('"\\eaba"');
$cl-icon-yahoo: unquote('"\\eabb"');
$cl-icon-yahoo2: unquote('"\\eabc"');
$cl-icon-tux: unquote('"\\eabd"');
$cl-icon-appleinc: unquote('"\\eabe"');
$cl-icon-finder: unquote('"\\eabf"');
$cl-icon-android: unquote('"\\eac0"');
$cl-icon-windows: unquote('"\\eac1"');
$cl-icon-windows8: unquote('"\\eac2"');
$cl-icon-soundcloud: unquote('"\\eac3"');
$cl-icon-soundcloud2: unquote('"\\eac4"');
$cl-icon-skype: unquote('"\\eac5"');
$cl-icon-reddit: unquote('"\\eac6"');
$cl-icon-hackernews: unquote('"\\eac7"');
$cl-icon-wikipedia: unquote('"\\eac8"');
$cl-icon-linkedin: unquote('"\\eac9"');
$cl-icon-linkedin2: unquote('"\\eaca"');
$cl-icon-lastfm: unquote('"\\eacb"');
$cl-icon-lastfm2: unquote('"\\eacc"');
$cl-icon-delicious: unquote('"\\eacd"');
$cl-icon-stumbleupon: unquote('"\\eace"');
$cl-icon-stumbleupon2: unquote('"\\eacf"');
$cl-icon-stackoverflow: unquote('"\\ead0"');
$cl-icon-pinterest: unquote('"\\ead1"');
$cl-icon-pinterest2: unquote('"\\ead2"');
$cl-icon-xing: unquote('"\\ead3"');
$cl-icon-xing2: unquote('"\\ead4"');
$cl-icon-flattr: unquote('"\\ead5"');
$cl-icon-foursquare: unquote('"\\ead6"');
$cl-icon-yelp: unquote('"\\ead7"');
$cl-icon-paypal: unquote('"\\ead8"');
$cl-icon-chrome: unquote('"\\ead9"');
$cl-icon-firefox: unquote('"\\eada"');
$cl-icon-IE: unquote('"\\eadb"');
$cl-icon-edge: unquote('"\\eadc"');
$cl-icon-safari: unquote('"\\eadd"');
$cl-icon-opera: unquote('"\\eade"');
$cl-icon-file-pdf: unquote('"\\eadf"');
$cl-icon-file-openoffice: unquote('"\\eae0"');
$cl-icon-file-word: unquote('"\\eae1"');
$cl-icon-file-excel: unquote('"\\eae2"');
$cl-icon-libreoffice: unquote('"\\eae3"');
$cl-icon-html-five: unquote('"\\eae4"');
$cl-icon-html-five2: unquote('"\\eae5"');
$cl-icon-css3: unquote('"\\eae6"');
$cl-icon-git: unquote('"\\eae7"');
$cl-icon-codepen: unquote('"\\eae8"');
$cl-icon-svg: unquote('"\\eae9"');
$cl-icon-IcoMoon: unquote('"\\eaea"');
// icons

// text
// text align
$text-left: left;
$text-right: right;
$text-center: center;
$text-justify: justify;
$text-start: start;
$text-end: end;

$aligns: (
    $text-left: "left",
    $text-right: "right",
    $text-center: "center",
    $text-justify: "justify",
    $text-start: "start",
    $text-end: "end"
);

// font-variant
$fvp-sub: sub;
$fvp-super: super;
$fvp-normal: normal;

$fv-positions: (
    $fvp-sub: "sub",
    $fvp-super: "super",
    $fvp-normal: "normal"
);

// font-weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$fw-bold: bold;
$fw-bolder: bolder;
$fw-lighter: lighter;

$weights: (
    $fw-100: "100",
    $fw-200: "200",
    $fw-300: "300",
    $fw-400: "400",
    $fw-500: "500",
    $fw-600: "600",
    $fw-700: "700",
    $fw-800: "800",
    $fw-900: "900",
    $fw-bold: "bold",
    $fw-bolder: "bolder",
    $fw-lighter: "lighter"
);

// font-size
$fs-1: 0.25rem;
$fs-2: 0.5rem;
$fs-3: 0.75rem;
$fs-4: 1rem;
$fs-5: 1.25rem;
$fs-6: 1.5rem;
$fs-xs: 0.875rem;
$fs-lg: 1.125rem;

$sizes: (
    $fs-1: "1",
    $fs-2: "2",
    $fs-3: "3",
    $fs-4: "4",
    $fs-5: "5",
    $fs-6: "6",
    $fs-xs: "xs",
    $fs-lg: "lg"
);

// line-height
$ln-0: 0;
$ln-1: 1;
$ln-2: 2;
$ln-3: 3;
$ln-4: 4;
$ln-xs: 0.25;
$ln-sm: 0.5;
$ln-md: 0.75;
$ln-lg: 1.25;

$lineHeights: (
    $ln-0: "0",
    $ln-1: "1",
    $ln-2: "2",
    $ln-3: "3",
    $ln-4: "4",
    $ln-xs: "xs",
    $ln-sm: "sm",
    $ln-md: "md",
    $ln-lg: "lg"
);
// text

// vertical-align
$va-baseline: baseline;
$va-top: top;
$va-middle: middle;
$va-bottom: bottom;
$va-text-bottom: text-bottom;
$va-text-top: text-top;

$vertical-aligns: (
    $va-baseline: "baseline",
    $va-top: "top",
    $va-middle: "middle",
    $va-bottom: "bottom",
    $va-text-bottom: "text-bottom",
    $va-text-top: "text-top"
);
// vertical-align

// flexbox
// align-items
$align-items-baseline: baseline;
$align-items-center: center;
$align-items-normal: normal;
$align-items-start: flex-start;
$align-items-end: flex-end;
$align-items-stretch: stretch;
$align-items-self-start: self-start;
$align-items-self-end: self-end;
$align-items-unset: unset;

$align-items: (
    $align-items-baseline: "baseline",
    $align-items-center: "center",
    $align-items-normal: "normal",
    $align-items-start: "start",
    $align-items-end: "end",
    $align-items-stretch: "stretch",
    $align-items-self-start: "self-start",
    $align-items-self-end: "self-end",
    $align-items-unset: "unset"
);

// align-content
$align-contents-baseline: baseline;
$align-contents-center: center;
$align-contents-normal: normal;
$align-contents-start: flex-start;
$align-contents-end: flex-end;
$align-contents-stretch: stretch;
$align-contents-space-around: space-around;
$align-contents-space-between: space-between;
$align-contents-space-evenly: space-evenly;
$align-contents-unset: unset;

$align-contents: (
    $align-contents-baseline: "baseline",
    $align-contents-center: "center",
    $align-contents-normal: "normal",
    $align-contents-start: "start",
    $align-contents-end: "end",
    $align-contents-stretch: "stretch",
    $align-contents-space-around: "around",
    $align-contents-space-between: "between",
    $align-contents-space-evenly: "evenly",
    $align-contents-unset: "unset"
);

// align-self
$align-selfs-baseline: baseline;
$align-selfs-center: center;
$align-selfs-normal: normal;
$align-selfs-start: flex-start;
$align-selfs-end: flex-end;
$align-selfs-stretch: stretch;
$align-selfs-self-start: self-start;
$align-selfs-self-end: self-end;
$align-selfs-unset: unset;

$align-selfs: (
    $align-selfs-baseline: "baseline",
    $align-selfs-center: "center",
    $align-selfs-normal: "normal",
    $align-selfs-start: "start",
    $align-selfs-end: "end",
    $align-selfs-stretch: "stretch",
    $align-selfs-self-start: "self-start",
    $align-selfs-self-end: "self-end",
    $align-selfs-unset: "unset"
);
// flexbox

// margin
$m-auto: auto;

$margins: (
    $m-auto: "auto"
);
// margin

// radius
$rounded: 0.375rem;
$rounded-pill: 50rem;
$rounded-circle: 50%;

$roundeds: (
    $rounded: "",
    $rounded-pill: "pill",
    $rounded-circle: "circle"
);
// radius

// order
$order-first: "first";

$orders: (
    $order-first: -1
);
// order

// object-fit
$object-fit-contain: contain;
$object-fit-cover: cover;
$object-fit-fill: fill;
$object-fit-scale: scale-down;
$object-fit-none: none;

$object-fits: (
    $object-fit-contain: contain,
    $object-fit-cover: cover,
    $object-fit-fill: fill,
    $object-fit-scale: scale,
    $object-fit-none: none
);
// object-fit

// object-position
$object-position-top: top;
$object-position-left: left;
$object-position-right: right;
$object-position-bottom: bottom;
$object-position-center: center;

$object-positions: (
    $object-position-top: top,
    $object-position-left: left,
    $object-position-right: right,
    $object-position-bottom: bottom,
    $object-position-center: center
);
// object-position

// opacity
$opacity-0: 0;
$opacity-5: 5;
$opacity-10: 10;
$opacity-15: 15;
$opacity-20: 20;
$opacity-25: 25;
$opacity-30: 30;
$opacity-35: 35;
$opacity-40: 40;
$opacity-45: 45;
$opacity-50: 50;
$opacity-55: 55;
$opacity-60: 60;
$opacity-65: 65;
$opacity-70: 70;
$opacity-75: 75;
$opacity-80: 80;
$opacity-85: 85;
$opacity-90: 90;
$opacity-95: 95;
$opacity-100: 100;

$opacities: (
    $opacity-0: 0,
    $opacity-5: 5,
    $opacity-10: 0.1,
    $opacity-15: 0.15,
    $opacity-20: 0.2,
    $opacity-25: 0.25,
    $opacity-30: 0.3,
    $opacity-35: 0.35,
    $opacity-40: 0.4,
    $opacity-45: 0.45,
    $opacity-50: 0.5,
    $opacity-55: 0.55,
    $opacity-60: 0.6,
    $opacity-65: 0.65,
    $opacity-70: 0.7,
    $opacity-75: 0.75,
    $opacity-80: 0.8,
    $opacity-85: 0.85,
    $opacity-90: 0.9,
    $opacity-95: 0.95,
    $opacity-100: 1
);
// opacity

// overflow
$overflow-hidden: hidden;
$overflow-auto: auto;
$overflow-scroll: scroll;
$overflow-visible: visible;
$overflow-clip: clip;

$overflows: (
    $overflow-hidden: "hidden",
    $overflow-auto: "auto",
    $overflow-scroll: "scroll",
    $overflow-visible: "visible",
    $overflow-clip: "clip"
);
// overflow

// ratio
$aspect-ratio-1x1: 1x1;
$aspect-ratio-4x3: 4x3;
$aspect-ratio-16x9: 16x9;
$aspect-ratio-21x9: 21x9;

$aspect-ratios: (
    $aspect-ratio-1x1: "100%",
    $aspect-ratio-4x3: "75%",
    $aspect-ratio-16x9: "56.25%",
    $aspect-ratio-21x9: "42.8571428571%"
);
// ratio

// pointer-events
$pointer-event-none: none;
$pointer-event-auto: auto;
$pointer-event-all: all;
$pointer-event-fill: fill;

$pointer-events: (
    $pointer-event-none: "none",
    $pointer-event-auto: "auto",
    $pointer-event-all: "all",
    $pointer-event-fill: "fill"
);
// pointer-events

// stretched-link
$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;
// stretched-link
