@use 'sass:map';

// import's colors
@import "./colors";

// import's mixins
@import "./mixin";

$breakpoints: (
	"xxxl": 1600px,
	"xxl": 1440px,
	"xl": 1200px,
	"lg": 1000px,
	"md": 720px,
	"sm": 576px,
	"xs": 0,
);

$gutter: 4;
$steps-count: 25;

$steps: (
	auto: auto,
	0: 0,
);

@for $i from 1 through $steps-count {
	$key: $i * $gutter;
	$value: #{$key}px;
	$steps: map.merge($steps, ($key: $value));
}

$rates-gutter: 4;
$rates-count: 25;

$rates: (
	auto: auto,
	fit: fit-content,
	fill: fill-available,
	0: 0,
);

@for $i from 1 through $rates-count {
	$key: $i * $rates-gutter;
	$value: $key * 1%;
	$rates: map.merge($rates, ($key: $value));
}

$radiuses: (
	0: 0px,
	10: 10px,
	15: 15px,
	pill: 1000px,
);

$positions: (
	absolute: absolute,
	fixed: fixed,
	sticky: sticky,
	relative: relative,
);

$font-size: 16px;

@include breakpoint('lg') {
	$font-size: 14px;
}

$font-weights: (
	"400": 400,
	"500": 500,
	"700": 700,
	"light": 400,
	"medium": 500,
	"bold": 700,
);

$font-family: system-ui,
	-apple-system,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	"Noto Sans",
	"Liberation Sans",
	Arial,
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji";

// Создать несколько :root-частей для выбора тематики стилей
// Несколько разных :root-частей можно будет легко собирать в темы и манипулировать ими
// Например, в config.scss возможно переключить на одну из стандартных тем для скруглений, теней, палитры цветов и т.д.
// Это создаст быстрый старт для разработки простых проектов и лендингов
// Разработчику будет доступно гибкое изменение параметров закруглений, теней, палитры цветов и т.д.
// Возможность создавать свою тему для фреймворка с поддержкой темной цветовой схемы