/* Breakpoints */
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1280px;

// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 850px;

$tablet-width: 768px;
$tablet-height: 1024px;

$mobile-width: 375px;
$mobile-height: 650px;
