@import "mixins";

.visible {
    visibility: visible !important;
}
.invisible {
    visibility: hidden !important;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    @include visually-hidden;
    &:not(caption) {
        position: absolute !important;
    }
}
