@mixin light-text {
    .text-muted {
        color: rgba(var(--dark-rgb), 0.5) !important;
    }
}

@mixin light-card {
    .card {
        --card-background-color: var(--grey) !important;
        --card-body-padding-y: 0.5rem;
        --card-body-padding-x: 0.375rem;
        --card-box-shadow: none !important;
        --card-border-radius: 0.25rem;
        font-size: calc(2.875rem * var(--percent));
        line-height: var(--card-body-line-height);
        font-weight: var(--card-body-font-weight);
        letter-spacing: var(--card-body-letter-spacing);
        box-shadow: var(--card-box-shadow) !important;
    }
}

@mixin light-list {
    .list {
        &-item {
            --list-item-padding-x: calc((4.0625rem * var(--percent)) + 0.25rem);
            --card-background-color: var(--white) !important;
            color: var(--black);
            font-size: calc(2.875rem * var(--percent));
            &::before {
                top: -50% !important;
                width: calc(4.0625rem * var(--percent));
                font-size: calc(2.875rem * var(--percent)) !important;
                transform: translateY(50%) !important;
            }
        }
    }
}

@mixin form-check-pdf {
    .form-check {
        --card-body-padding-y: 1.59rem;
        --card-body-padding-x: 0.75rem;
        --card-box-shadow: none !important;
        --card-border-radius: 0.25rem;
        --bs-border-width: 0.0625rem;
        font-size: calc(2.875rem * var(--percent));
        line-height: 100%;
        font-weight: var(--card-body-font-weight);
        letter-spacing: var(--card-body-letter-spacing);
        background-color: var(--white);
        box-shadow: var(--card-box-shadow) !important;
        padding: calc(var(--card-body-padding-y) * var(--percent)) calc(var(--card-body-padding-x) * var(--percent)) !important;
        border-top: 0;
        border-left: calc((var(--bs-border-width) * var(--percent)) - 0.0125rem);
        border-right: calc((var(--bs-border-width) * var(--percent)) - 0.0125rem);
        border-bottom: calc(var(--bs-border-width) * var(--percent));
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.33);
        &-label {
            padding-left: calc((2.6044rem * var(--percent)) + (0.75rem * var(--percent)));
        }
        &-input {
            appearance: none !important;
            display: none;
            outline: none;
            border-width: 0;
            border-color: transparent;
            & + label:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: calc(2.6044rem * var(--percent));
                height: calc(2.6044rem * var(--percent));
                background-color: #ccc;
                border: 1px solid #ccc;
                border-radius: calc(1rem * var(--percent));
                transform: translateY(-50%);
            }
            &:checked + label {
                color: #a1a1a1;
            }
            &:checked + label::before {
                border-color: #44fff4;
                background-color: #44fff4;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9533 3.20711L9.14079 15.0196C8.84912 15.3113 8.45329 15.4779 8.03662 15.4779C7.61995 15.4779 7.22412 15.3113 6.93245 15.0196L1.03662 9.12378C0.432454 8.51961 0.432454 7.51961 1.03662 6.91544C1.64079 6.31128 2.64079 6.31128 3.24495 6.91544L8.03662 11.7071L18.745 0.998779C19.3491 0.394613 20.3491 0.394613 20.9533 0.998779C21.5575 1.60295 21.5575 2.58211 20.9533 3.20711Z' fill='%23ECECEC'/%3E%3Cpath d='M20.9533 3.20711L9.14079 15.0196C8.84912 15.3113 8.45329 15.4779 8.03662 15.4779C7.61995 15.4779 7.22412 15.3113 6.93245 15.0196L1.03662 9.12378C0.432454 8.51961 0.432454 7.51961 1.03662 6.91544C1.64079 6.31128 2.64079 6.31128 3.24495 6.91544L8.03662 11.7071L18.745 0.998779C19.3491 0.394613 20.3491 0.394613 20.9533 0.998779C21.5575 1.60295 21.5575 2.58211 20.9533 3.20711Z' fill='%23ECECEC'/%3E%3C/svg%3E%0A");
                background-size: calc(1.25rem * var(--percent));
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &:has(input:checked) {
            background-color: #ececec;
        }
    }
}
