.form-check {
    display: flex;
    align-items: center;
    & .form-check-input {
        --bs-form-check-bg: var(--dark);
        --bs-border-color: rgba(var(--white-rgb), 0.5);
        --bs-form-check-bg-image: unset;
        transition: 0.2s ease-out;
        &:hover,
        &:focus {
            --bs-border-color: rgba(var(--white-rgb), 0.75);
        }
        &:checked,
        &.checked {
            --bs-border-color: rgba(var(--white-rgb), 1);
            background-color: var(--dark);
            background-size: 0.5625rem;
            &:is([type="radio"]) {
                --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9' height='9' rx='4.5' fill='%23FAFAFA'/%3E%3C/svg%3E%0A");
            }
            &:is([type="checkbox"]) {
                --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9' height='9' fill='%23FAFAFA'/%3E%3C/svg%3E%0A");
            }
            & ~ .form-check-label {
                color: rgba(var(--white-rgb), 1);
            }
        }
    }
    & .form-check-label {
        color: rgba(var(--white-rgb), 0.5);
        transition: color 0.4s ease-out;
        &:hover,
        &.hover {
            color: rgba(var(--white-rgb), 0.75);
        }
    }
}
