:root {
  --nav-gutter-x: 0.25rem;
  --nav-gutter-y: 0.25rem;
  --nav-inner-gutter-x: 0.5rem;
  --nav-inner-gutter-y: 0.5rem;
  --nav-item-padding-x: 1rem;
  --nav-item-padding-y: 0.62rem;
  --nav-item-background-color: unset;
  --nav-item-border-radius: initial;
  --nav-item-font-size: 0.75rem;
  --nav-item-font-style: normal;
  --nav-item-font-weight: 600;
  --nav-item-line-height: 100%;
  --nav-item-color: inherit;
  @media (min-width: 1200px) {
    --nav-item-font-size: 0.875rem;
  }
}

.nav {
  display: flex;
  list-style-type: none;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  &:is(.nav-horizontal) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--nav-gutter-x);
    column-gap: var(--nav-gutter-y);
  }
  &:is(.nav-vertical) {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--nav-gutter-x);
    column-gap: var(--nav-gutter-y);
  }
  &-item {
    position: relative;
    z-index: 1;
    padding: var(--nav-item-padding-y) var(--nav-item-padding-x);
    background-color: var(--nav-item-background-color);
    border-radius: var(--nav-item-border-radius);
    font-size: var(--nav-item-font-size);
    font-style: var(--nav-item-font-style);
    font-weight: var(--nav-item-font-weight);
    line-height: var(--nav-item-line-height);
    color: var(--nav-item-color);
    transition: background-color 0.25s ease;
  }
  &-link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
    color: var(--nav-item-color);
    opacity: 0.5;
    transition:
      opacity 0.6s ease,
      color 0.6s ease;
    &:hover {
      opacity: 1;
    }
    &.active {
      --nav-item-color: rgba(var(--black-rgb), 1) !important;
      font-weight: 700;
      opacity: 1;
    }
    &-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      row-gap: var(--nav-inner-gutter-y);
      column-gap: var(--nav-inner-gutter-x);
    }
  }
}
