// vendor
@import "../../node_modules/wow.js/css/libs/animate";

// utility
@import "./utilities/utility";

// normalize
@import "./utilities/normalize";

// components
@import "./components/background";
@import "./components/animation";
@import "./components/badge";
@import "./components/buttons";
@import "./components/code";
@import "./components/counter";
@import "./components/cover";
@import "./components/cards";
@import "./components/draggable";
@import "./components/devider";
@import "./components/fonts";
@import "./components/forms";
@import "./components/checkbox";
@import "./components/btncheck";
@import "./components/safari";
@import "./components/switch";
@import "./components/select";
@import "./components/spinners";
@import "./components/player";
@import "./components/plug";
@import "./components/preloader";
@import "./components/progress";
@import "./components/range";
@import "./components/sphere";
@import "./components/stretched";
@import "./components/shadow";
@import "./components/suggestions";
@import "./components/lazyload";
@import "./components/lazyblur";
@import "./components/links";
@import "./components/list";
@import "./components/tabs";
@import "./components/tags";
@import "./components/text";
@import "./components/modals";
@import "./components/map";
@import "./components/timer";
@import "./components/swiper";

// responsive design
:root {
  font-size: calc(100vw / 375 * 16);
  @media (min-width: 768px) {
    font-size: calc(100vw / 768 * 16);
  }
  @media (min-width: 992px) {
    font-size: calc(100vw / 992 * 16);
  }
  @media (min-width: 1200px) {
    font-size: calc(100vw / 1440 * 16);
  }
  @media (min-width: 1440px) {
    font-size: calc(100vw / 1440 * 16);
  }
  @media (min-width: 1600px) {
    font-size: calc(100vw / 1440 * 16);
  }
  @media (min-width: 1920px) {
    font-size: calc(100vw / 1600 * 16);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  position: relative;
  z-index: 1;
  height: 100%;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  color: rgba(var(--body-text-color), 1);
  background-color: rgba(var(--body-bg-color), 1);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:is(.body-rating) {
    background-image: radial-gradient(87.08% 87.08% at 0% 0%, rgba(149, 255, 147, 0.53) 0%, rgba(2, 254, 245, 0) 100%),
      linear-gradient(180deg, #ff8125 0%, rgba(19, 141, 254, 0) 75%);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: clip;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding: calc(var(--header-height) + 1.5rem) 0 calc(var(--footer-height) * 2) 0;
}

.section {
  contain: layout;
}

.wow {
  visibility: hidden;
}

#mysprite {
  display: none;
}
